{extends file="company/base.htm"}
{block name="content"}
<div id="admincase">

    {include file='company/_left_nav.htm'}

    <div class="clear"></div>

    <div id="main-content">

    <!-- Page Head -->

            <ul class="shortcut-buttons-set">

                <li><a class="shortcut-button" href="/company/projectnumbers"><span>
                    <img src="{$domain_static}/images/yd-icons/backend/orders_overview.png" alt="" /><br />
                    {__('Projeknummern auflisten')}
                </span></a></li>

                <li><a class="shortcut-button" href="/company/addprojectnumbers"><span>
                    <img src="{$domain_static}/images/yd-icons/backend/project_number.png" alt="" /><br />
                    {__('Projektnummern hinzufügen')}
                </span></a></li>

			</ul><!-- End .shortcut-buttons-set -->

    <div class="clear"></div>

    <div class="content-box">

        <div class="content-box-header">

            <h3>{__('Projektnummer erstellen')}</h3>

            <div class="clear"></div>

        </div>


<div id="content" class="right">

    <!-- Anfang Meine Daten -->
    <div class="mydata">
        <div class="users">
            <div class="set-content">

                <div class="settings_group">

                    <div class="settings_comp"><br />
                        {__('Projektnummern bei Bestellung verpflichtend')}
                        <input type="checkbox" value=1 {if $company->isCode()}checked="checked"{/if} class="yd-company-need-code" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right" id="content">
        <div class="users"> <!-- Anfang Meine Daten -->
            <div class="set-content">
                <form action="/company/addprojectnumbers" method="post" class="fm yd-validation">
                <div class="settings_group">
                    <div class="title">{__('Projektinformationen')}</div>
                    <div class="user-content">
                        <label for="">{__('Projektnummer:')}</label>
                        <input type="text" class="text-input medium-input validate[required]" name="projectnumber" id="projectnumber" value="{if isset($post)}{$post.projectnumber}{/if}" />
                    </div>
                    <div class="user-content">
                        <label for="">{__('Kommentar:')}</label>
                        <input type="text" class="text-input medium-input" name="comment" value="{if isset($post)}{$post.comment}{/if}" />
                    </div>
                    <div class="user-content">
                        <label for="">&nbsp;</label>
                        <input type="submit" class="button" name="add-pr" value="{__('Projektnummer einrichten')}"/>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div> <!-- Content Box Content -->


<!-- Ende Meine Daten -->
</div> <!-- content-box-content -->
 </div> <!-- Content-Box -->
        <div class="clear"></div>
    </div> <!-- main Content -->
</div> <!-- admincase -->

{/block}