{extends file="company/base.htm"}

{block name="content"}

<div id="admincase">

    {include file='company/_left_nav.htm'}

    <div class="clear"></div>

        <div id="main-content">

            <!-- Page Head -->

            <ul class="shortcut-buttons-set">

                <li><a class="shortcut-button" href="/company/orders"><span>
                    <img src="{$domain_static}/images/yd-icons/backend/orders_overview.png" alt="" /><br />
                    {__('Bestellungen Übersicht')}
                </span></a></li>

            </ul><!-- End .shortcut-buttons-set -->

        <div class="clear"></div>

        <div class="content-box">

            <div class="content-box-header">

                <h3>{__('Bestellungsübersicht')}</h3>
                <p class="yd-title-margin">{__('Übersicht aller Bestellungen, sortierbar nach verschiedensten Parametern')}</p>

                <div class="clear"></div>

            </div>

            <div id="content" class="right">
                <!-- Anfang Meine Daten -->
                <div class="mydata">

                    <div class="users">
                        <div class="set-content">
                            <div class="settings_group">

                                    {$grid}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ende Meine Daten -->
        </div>
        <div class="clear"></div>
    </div> <!-- main Content -->
</div> <!-- admincase -->

{/block}