{extends file="company/base.htm"}

{block name="content"}
<div id="admincase">

    {include file='company/_left_nav.htm'}

    <div class="clear"></div>

    <div id="main-content">

    <!-- Page Head -->

            <ul class="shortcut-buttons-set">
                
                <li><a class="shortcut-button" href="/company/orders"><span>
                    <img src="{$domain_static}/images/yd-icons/backend/orders_overview.png" alt="" /><br />
                    {__('Projeknummern auflisten')}
                </span></a></li>
                
                <li><a class="shortcut-button" href="/company/addprojectnumbers"><span>
                    <img src="{$domain_static}/images/yd-icons/backend/project_number.png" alt="" /><br />
                    {__('Projektnummern hinzufügen')}
                </span></a></li>

			</ul><!-- End .shortcut-buttons-set -->

    <div class="clear"></div>

    <div class="content-box">

        <div class="content-box-header">

            <h3>{__('Projektnummer erstellen')}</h3>

            <div class="clear"></div>

        </div>


<div id="content" class="right">



    <!-- Anfang Meine Daten -->
    <div class="mydata">
        <div class="users">
            <div class="set-content">

                <div class="settings_group">

                    <div class="settings_comp">                        
                        <br />
                        {__('Art der Projektnummerneingabe')}:
                        <select id="yd-company-code-variant">
                            <option value="0" {if $company->getCodeVariant() == 0}selected{/if}>{__('keine Projektnummern')}</option>
                            <option value="1" {if $company->getCodeVariant() == 1}selected{/if}>{__('Nur vorgegebene Nummern')}</option>
                            <option value="2" {if $company->getCodeVariant() == 2}selected{/if}>{__('Vorgegebene Nummern oder freie Eingabe')}</option>
                            <option value="3" {if $company->getCodeVariant() == 3}selected{/if}>{__('Freie Eingabe ohne Vorschläge')}</option>
                        </select>
                        <br /><br />
                        <span id="yd-company-need-code-check">
                            {__('Projektnummern bei Bestellung verpflichtend')}
                            <input type="checkbox" value=1 id="yd-company-need-code" {if $company->isCode()}checked="checked"{/if} />
                        </span>
                        <br /><br />
                        <input type="button" class="button" value="{__('Änderungen speichern')}" id="yd-company-save-code">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
        {$grid}
    </div>
  
</div> <!-- Content Box Content -->


<!-- Ende Meine Daten -->
</div> <!-- content-box-content -->
 </div> <!-- Content-Box -->
        <div class="clear"></div>
    </div> <!-- main Content -->
</div> <!-- admincase -->

{/block}