<html lang="en">
    <head>

        <title>{__("Feedback")}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="yourdelivery GmbH" />
        <meta name="publisher" content="yourdelivery GmbH" />

    </head>
    <body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#F0F0F0" offset="0" leftmargin="0">

        <!-- wrapper table. needed as some readers strip the <html>, <head> and <body> tag -->
        <table cellspacing="0" style="margin-top: 20px; font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" bgcolor="#F0F0F0" cellpadding="0" width="98%"><tr><td>

                    <!-- /////////////////////////////////// Newsletter Content  /////////////////////////////////// -->

                    <table rules="none" cellspacing="0" bordercolor="#c2c2c2" border="1" frame="border" align="center" style="border-color: #c2c2c2 #c2c2c2 #c2c2c2 #c2c2c2; font-size: 13px; background: #ffffff; border-collapse: collapse; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444; border-spacing: 0px; border-style: solid solid solid solid; border-width: 1px 1px 1px 1px;" cellpadding="0" bgcolor="#FFFFFF" width="600">
                        <tr><td>
                                <!-- Main Newsletter Content Starts here. Add Modules below this line -->

                                Feedbacktemplate...

                                <img src="http://www.{$config->domain->base}/media/images/yd-mail/module-divider.jpg" height="70" width="600" />

                                <!-- Module: Content -->
                                <table cellspacing="0" align="center" style="font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" width="520" cellpadding="0">
                                    <tr>
                                        <td>

                                            <h2 style="font-size: 16px; font-family: Arial, sans-serif; color: #000; letter-spacing: -1px;">
                                            {__("Vielen Dank für Ihr Feedback.")}
                                            </h2>

                                            <p>
                                                {$cust->getEmailSalutation()},
                                                <br /><br />
                                                {__("vielen Dank für Ihr Feedback.")}
                                                <br /><br />
                                            <div style="background: #ffffcc; border: 1px solid #f0f000; font-size: 13px; padding: 15px; margin: 0 0 20px 0;">
                                                <strong style="font-size: 15px;">{__("Ihre Mitteilung")}</strong>
                                                <hr style="border: 0 none; border-top: 1px dotted #000;">
                                                <br>
                                                {$msg|nl2br}
                                            </div>
                                            <br />
                                            {__("Wir haben Dein Feedback erhalten und werden probieren, dieses so schnell wie möglich zu bearbeiten. Wenn Du um einen Rückruf oder Kontakt gebeten hast, werden wir uns innerhalb von 12 Stunden persönlich bei Dir melden.")}
                                            <br /><br />
                                            {__("Mit freundlichen Grüßen")}
                                            <br /><br />
                                            {__("Ihr Team von %s", $config->domain->base)}
                                            </p>

                                        </td>
                                    </tr>
                                </table>
                                <!-- End Module -->

				{include file="_email_footer.htm"}

                            </td></tr></table><!-- end wrapper table-->

                    </body>
                    </html>