<html lang="en">
    <head>

        <title>{__("Neue Bestellung")}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="yourdelivery GmbH" />
        <meta name="publisher" content="yourdelivery GmbH" />

    </head>
    <body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#F0F0F0" offset="0" leftmargin="0">

        <!-- wrapper table. needed as some readers strip the <html>, <head> and <body> tag -->
        <table cellspacing="0" style="margin-top: 20px; font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" bgcolor="#F0F0F0" cellpadding="0" width="98%"><tr><td>

                    <!-- /////////////////////////////////// Newsletter Content  /////////////////////////////////// -->

                    <table rules="none" cellspacing="0" bordercolor="#c2c2c2" border="1" frame="border" align="center" style="border-color: #c2c2c2 #c2c2c2 #c2c2c2 #c2c2c2; font-size: 13px; background: #ffffff; border-collapse: collapse; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444; border-spacing: 0px; border-style: solid solid solid solid; border-width: 1px 1px 1px 1px;" cellpadding="0" bgcolor="#FFFFFF" width="600">
                        <tr><td>
                                <!-- Main Newsletter Content Starts here. Add Modules below this line -->

                                <!-- Module: Header -->
                                <table width="600" align="center" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <img src="http://www.{$config->domain->base}/media/images/yd-mail/{$config->domain->base}/yd-mail-logoheader.jpg" alt="" />
                                        </td>
                                    </tr>
                                </table>
                                <!-- End Module -->

                                <!-- Module: Content -->
                                <table cellspacing="0" align="center" style="font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" width="520" cellpadding="0">
                                    <tr>
                                        <td>

                                            <h2 style="font-size: 16px; font-family: Arial, sans-serif; color: #444444; letter-spacing: -1px;">
                                                {__("Neue Bestellung - Bestellnummer: %s",$order->getNr())}
                                            </h2>

                                            <p>
                                                <strong>{__("Lieferadresse:")}</strong><br />
                                                {$order->getCustomer()->getFullname()} ({$order->getLocation()->getTel()})<br />
                                                {$order->getLocation()->getStreet()} {$order->getLocation()->getHausnr()}<br />
                                                {$order->getLocation()->getPlz()} {$order->getLocation()->getOrt()->getOrt()}<br />
                                                {if $order->getLocation()->getComment()!=''}<strong>{__("Lieferanweisungen:")} </strong>{$order->getLocation()->getComment()}<br />{/if}
                                                {if $order->getLocation()->getCompany()!=''}<strong>{__("Firma:")} </strong>{$order->getLocation()->getCompany()}<br />{/if}
                                                {if $order->getLocation()->getEtage()!=''}<strong>{__("Stockwerk:")} </strong>{$order->getLocation()->getEtage()}<br />{/if}
                                                <br />
                                                {__("Bestellzeit:")} {$order->getTime()|date_format:__("%A, %d.%m.%G um %H:%M Uhr")}<br />
                                                <strong>{__("Gewünschte Lieferzeit:")}</strong> {$order->getDeliverTimeFormated()|date_format:__("%A, %d.%m.%G um %H:%M Uhr")}<br />
                                                <br />

                                                {if $order->getCashAmount() > 0}
                                                <strong>{__('ACHTUNG: OFFENER BETRAG:')} {__('€ %s', $order->getCashAmount()|inttoprice)}</strong>

                                                {if $order->getPaymentAddition() == 'ec'}
                                                <strong>{__('KUNDE MÖCHTE MIT EC KARTE BEZAHLEN')}</strong>
                                                {elseif $order->getPaymentAddition() == 'creditCardAtHome'}
                                                <strong>o cliente vai pagar com cartão de crédito/débito no ato da entrega.</strong>
                                                {elseif $order->getPaymentAddition() == 'vr'}
                                                <strong>o cliente vai pagar com VR no ato da entrega.</strong>
                                                {elseif $order->getChange() > 0}
                                                <strong>o cliente vai pagar com dinheiro no ato da entrega e precisa troco para R$ {$order->getChange()|inttoprice}</strong>
                                                {/if}

                                                <br />
                                                {else}
                                                <strong>{__("ACHTUNG: Bestellung ist bereits online bezahlt!")}</strong><br />
                                                <strong>{__("Bitte kassieren Sie nicht beim Kunden, %s überweist Ihnen den Betrag wie vertraglich vereinbart.", $config->locale->headoffice->name)}</strong><br />
                                                <br />
                                                {/if}

                                            <table style="font-size: 11px; width: 100%; color: #444444; border-collapse: collapse;">
                                                <tr style="border-bottom: 1px solid #cccccc; font-weight: bold;">
                                                    <td width="5%"></td>
                                                    <td width="10%">QTD</td>
                                                    <td width="65%">{__("Gericht")}</td>
                                                    <td width="10%">Codigo</td>
                                                    <td width="10%" align="right" style="padding: 5px 0;">{__("Preis")}</td>
                                                </tr>

                                                {assign var=card value=$order->getCard()}
                                                {foreach from=$card.bucket item=custItems key=custId}
                                                {foreach from=$custItems item=item key=hash name=meals}
                                                <tr style="border-bottom: 1px solid #cccccc; font-weight: bold;">
                                                    <td valign="top">{$smarty.foreach.meals.iteration}.</td>
                                                    <td valign="top" align="right" style="padding-right: 5px;">{$item.count} x</td>
                                                    <td valign="top">
                                                        {$item.meal->getName()}, {$item.meal->getCurrentSizeName()}
                                                        {if $item.meal->getSpecial() != ""}
                                                        <br />
                                                        {$item.meal->getSpecial()}
                                                        <br />
                                                        {/if}
                                                        {if $item.meal->getCurrentOptionsCount() > 0}
                                                        <br />
                                                        {foreach name=bo from=$item.meal->getCurrentOptions() item=option}
                                                        <span id="option-span-{$hash}-{$option->getId()}" style="font-style: italic;color: #999;">
                                                            1x {$option->getName()}
                                                            {if $option->getCost() > 0}(+ {__('%s €', ($option->getCost() * $item.count)|inttoprice)}){/if}<br />
                                                        </span>
                                                        {/foreach}
                                                        {/if}

                                                        {if $item.meal->getCurrentExtrasCount() > 0}
                                                        {foreach name=be from=$item.meal->getCurrentExtras() item=extra}
                                                        <span style="font-style: italic;color: #999;">
                                                            {$extra->getCount()}x {$extra->getName()}
                                                            {if $extra->getCost() > 0}(+ {__('%s €', ($extra->getCost() * $item.count)|inttoprice)}){/if}<br />
                                                        </span>
                                                        {/foreach}
                                                        {/if}
                                                    </td>
                                                    <td>{$item.meal->getNr()}</td>
                                                    <td align="right" style="padding: 5px 0;">{__('%s €', ($item.meal->getCost() * $item.count)|inttoprice)}</td>
                                                </tr>
                                                {/foreach}
                                                {/foreach}

                                                {if $order->getDiscount()}
                                                <tr style="border-bottom: 1px solid #cccccc; color: green;">
                                                    <td colspan="4">{__("Rabatt")}</td>
                                                    <td align="right" style="padding: 5px 0;">{__('%s €', $order->getDiscountAmount()|inttoprice)}</td>
                                                </tr>
                                                {/if}

                                                {if $order->getServiceDeliverCost() > 0}
                                                <tr style="border-bottom: 1px solid #cccccc; color: green;">
                                                    <td colspan="4">{__("Lieferkosten")}</td>
                                                    <td align="right" style="padding: 5px 0;">{__('%s €', $order->getServiceDeliverCost()|inttoprice)}</td>
                                                </tr>
                                                {/if}

                                                {if $order->getCourierCost() > 0}
                                                <tr style="border-bottom: 1px solid #cccccc; color: green;">
                                                    <td colspan="4">{__("Lieferkosten")}</td>
                                                    <td align="right" style="padding: 5px 0;">{__('%s €', ($order->getCourierCost() - $order->getCourierDiscount())|inttoprice)}</td>
                                                </tr>
                                                {/if}

                                                <tr style="border-bottom: 3px double #cccccc; color: #e10000; font-weight: bold;">
                                                    <td colspan="4">{__("Bestellwert")}</td>
                                                    <td align="right" style="padding: 5px 0;">{__('%s €', $order->getAbsTotal(false,false,true,false,false)|inttoprice)}</td>
                                                </tr>

                                                {if $order->getPayedAmount() > 0}
                                                <tr style="border-bottom: 1px solid #cccccc; color: green;">
                                                    <td colspan="4">{__("Bereits bezahlt mit %s:", $order->getPaymentFormated())}</td>
                                                    <td align="right" style="padding: 5px 0;">{__('%s €', $order->getPayedAmount()|inttoprice)}</td>
                                                </tr>
                                                {/if}

                                                {if $order->getCpf() && $config->domain->base == 'janamesa.com.br'}
                                                <tr style="border-bottom: 1px solid #cccccc; color: green;">
                                                    <td colspan="4">Cliente quer CPF na nota:</td>
                                                    <td align="right" style="padding: 5px 0;">{$order->getCpf()}</td>
                                                </tr>

                                                {/if}                                        

                                            </table>

                                            <br /><br />

                                              <b>{__('Kundensupport: ')}</b>{__('%s, Mo. - Fr. 09:00 - 24:00 Uhr, Sa. - So. 11:00 - 24:00 Uhr', $config->locale->tel->support)}<br />
                                            {__('Änderungen können in der Zeit Montag bis Freitag von 09:00 - 18:00 Uhr durchgeführt werden.')}<br />
                                            {__('Wenn es Probleme gibt oder Sie Vorschläge haben, können Sie uns gerne ebenfalls unter %s kontaktieren.',$config->locale->email->info)}                    
                                            <br /><br />
                                            {__("Mit freundlichen Grüßen")}
                                            <br /><br />
                                            {__("Dein Team von %s", $config->domain->base)}

                                        </td>
                                    </tr>
                                </table>
                                <!-- End Module -->


                                <br />
                            </td>
                        </tr>
                    </table>

                    <br />

                    <table cellspacing="0" border="0" align="center" style="font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" cellpadding="0" width="550">
                        <tr>
                            <td style="text-align:center;font-size: 13px; line-height: 22px; font-family: Arial; color: #444444;">
                                <p>
                                    <b>{__('%s</b>, %s, %s', $config->locale->headoffice->name, $config->locale->headoffice->address, $config->locale->headoffice->country)}<br />
                                    {$config->locale->tel->support} | E-Mail: <a href="mailto:{$config->locale->email->support}" style="color: #444444;">{$config->locale->email->support}</a><br />
                                    <a href="http://www.{$config->domain->base}" style="color: #444444;">http://www.{$config->domain->base}</a>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <table cellspacing="0" border="0" align="center" style="font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" cellpadding="0" width="600">
                        <tr>
                            <td height="35" valign="middle">
                                <img src="http://www.{$config->domain->base}/media/images/yd-mail/hr.jpg" height="5" alt="separator" width="600" />
                            </td>
                        </tr>
                    </table>

                    <table cellspacing="0" border="0" align="center" style="font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" cellpadding="0" width="550">
                        <tr>
                            <td align="center" style="font-size: 12px; line-height: 18px; font-family: Arial; color: #6f6f6f;">
                                <p>
                                    {__("Dies ist eine automatisch versendete Nachricht.")}<br />
                                    {__("Diese Adresse wurde nur zur Versendung von E-Mails eingerichtet.")}<br />
                                    {__("Verschiedene Kontaktmöglichkeiten sind unter %sImpressum%s zu finden.", '<a style="color: #444444;" href="http://www.'|cat:$config->domain->base|cat:'/about">', '</a>')}
                                </p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table><!-- end wrapper table-->

    </body>
</html>