<html lang="en">
    <head>

        <title>{__("%s: Gutschein",$config->domain->base)}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="yourdelivery GmbH" />
        <meta name="publisher" content="yourdelivery GmbH" />

    </head>
    <body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#F0F0F0" offset="0" leftmargin="0">

        <table cellspacing="0" style="margin-top: 20px; font-size: 13px; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444;" bgcolor="#F0F0F0" cellpadding="0" width="98%">
            <tr>
                <td>

                    <table rules="none" cellpadding="0" cellspacing="0" bordercolor="#c2c2c2" border="1" frame="border" align="center" style="border-color: #c2c2c2 #c2c2c2 #c2c2c2 #c2c2c2; font-size: 13px; background: #ffffff; border-collapse: collapse; line-height: 21px; font-family: 'Lucida Grande', Arial, sans-serif; color: #444444; border-spacing: 0px; border-style: solid solid solid solid; border-width: 1px 1px 1px 1px;" bgcolor="#FFFFFF" width="600">
                        <tr>
                            <td>
                                <table width="600" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><img src="http://www.{$config->domain->base}/media/images/yd-mail/{$config->domain->base}/yd-mail-logoheader.jpg" /></td>
                                    </tr>
                                </table>
                                <table width="560" style="margin: 0 auto;" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <table width="560" style="font-size:11px;" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <br />
                                                        <p style="font-size: 14px; text-align: justify;">
                                                            {$customer->getEmailSalutation()},<br /><br />
                                                            wir freuen uns, dass Du das Angebot von o2 nutzen und doppelt profitieren möchten.
                                                            Zusätzlich zum lieferando 5€-Neukundenrabatt erhältst Du einen 14€-Gutscheincode von Video Buster, der Online Videothek.
                                                        </p>
                                                        <br /><br />

                                                        <p style="font-size: 18px; text-align: justify;">
                                                            Dein persönlicher Gutscheincode für Video Buster lautet: <b>{$code}</b>
                                                        </p>
                                                        <br /><br />
                                                        <p style="font-size: 14px; text-align: justify;">
                                                            Um den Gutscheincode zu nutzen, musst Du folgendermaßen vorgehen:
                                                        </p>
                                                        <ul>
                                                            <li>Einfach auf <a href="http://www.videobuster.de">www.videobuster.de</a> registrieren</li>
                                                            <li>Gutscheincode eingeben</li>
                                                            <li>Der Betrag des Gutscheines wird Deinem Konto gutgeschrieben, den Du ganz individuell benutzen kannst</li>
                                                            <li>Sollte nun ein Restbetrag übrig bleiben, kannst Du den nur per PayPal, Lastschrift oder Kreditkarte begleichen.</li>
                                                        </ul>

                                                        <br />
                                                        <p style="font-size: 14px; text-align: justify;">
                                                            P.S.: Kennst Du schon unsere App? Nein? Dann solltest Du sie kostenlos für das iPhone herunterladen. So kannst Du Wartezeiten verkürzen und von überall aus bestellen.
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table style="border-collapse: collapse; margin-top: 20px;" border="0" align="center" width="550" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td colspan="2" style="border: none;">
                                                                    <img src="http://www.lieferando.de/media/images/yd-mail/lieferando.de/yd-mail-iphone-de1.jpg" width="550" height="165"/>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <img src="http://www.lieferando.de/media/images/yd-mail/lieferando.de/yd-mail-iphone-de2.jpg" width="367"  />
                                                                </td>
                                                                <td>
                                                                    <a style="text-decoration: none; border: none;" href="http://itunes.apple.com/de/app/lieferando-de/id419724490" target="_blank"> <img src="http://www.lieferando.de/media/images/yd-mail/lieferando.de/yd-mail-iphone-de3.jpg" width="183" border="none" /></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table width="560" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <a href="http://www.{$config->domain->base}/" style="margin-left: -5px;"><img style="border:0 none;outline:0;cursor:pointer;" src="http://www.{$config->domain->base}/media/images/yd-mail/{$config->domain->base}/yd-mail-iphone-link1.jpg" /></a>
                                                        <a href="http://www.{$config->domain->base}/" style="margin-left: -5px;"><img style="border:0 none;outline:0;cursor:pointer;" src="http://www.{$config->domain->base}/media/images/yd-mail/{$config->domain->base}/yd-mail-iphone-link2.jpg" /></a>
                                                        <a href="http://www.{$config->domain->base}/" style="margin-left: -5px;"><img style="border:0 none;outline:0;cursor:pointer;" src="http://www.{$config->domain->base}/media/images/yd-mail/{$config->domain->base}/yd-mail-iphone-link3.jpg" /></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                {include file="_email_footer.htm"}

                            </td>
                        </tr>
                    </table>
                    </body>
                    </html>