#slideshow {
    position:relative;
    height: 0px;
    z-index: 0;
}

#slideshow LI {
    position:absolute;
    top:0;
    z-index:1;
    overflow: hidden;
    width: 100%;
}

#slideshow li > img {
    left:50%;
    margin-left: -800px;
    position: relative;
}

#slideshow LI.active {
    z-index:3;
}

#slideshow LI.last-active {
    z-index:2;
}
body.home div.seletor ul li a {

}

body.home div.seletor ul li:hover {
    cursor:pointer;cursor:hand;
    background-color: #cccccc;
}

body.home div.seletor ul {
    float: right;
}

body.home div.seletor ul li {
    background-color: white;
    height: 25px;
    list-style: none outside none;
    padding: 10px 10px 4px;
    position: relative;
    text-align: center;
    top: -400px;
    vertical-align: middle;
    width: 25px;
}

body.home div.seletor ul li a {
    color:black;
}

body.home div.seletor li.active {
    background-color: #aaa;
}