
.be-nav li a span {
    display: block;
    padding: 9px 9px 9px 30px;
    background: url(/media/images/yd-backend/2012/nav-sprite.png) no-repeat;
}

.be-nav li:first-child a span { background-position: 6px 8px; }
.be-nav li.icon01 a span { background-position: 6px -32px; }
.be-nav li.icon02 a span { background-position: 6px -70px; }
.be-nav li.icon03 a span { background-position: 6px -110px; }
.be-nav li.icon04 a span { background-position: 6px -150px; }
.be-nav li.icon05 a span { background-position: 6px -191px; }
.be-nav li.icon06 a span { background-position: 6px -230px; }
.be-nav li.icon07 a span { background-position: 6px -271px; }
.be-nav li.icon08 a span { background-position: 4px -311px; }
.be-nav li.icon09 a span { background-position: 9px -351px; }
.be-nav li.icon10 a span { background-position: 6px -390px; }
.be-nav li.icon11 a span { background-position: 6px -432px; }
.be-nav li.icon12 a span { background-position: 10px -471px; }
.be-nav li.icon13 a span { background-position: 6px -512px; }
.be-nav li.icon14 a span { background-position: 7px -551px; }
.be-nav li.icon15 a span { background-position: 6px -591px; }
.be-nav li.icon16 a span { background-position: 6px -631px; }
.be-nav li.icon17 a span { background-position: 6px -671px; }

.be-nav li:first-child.active a span { background-position: -164px 8px; }
.be-nav li.icon01.active a span { background-position: -164px -32px; }
.be-nav li.icon02.active a span { background-position: -164px -70px; }
.be-nav li.icon03.active a span { background-position: -164px -110px; }
.be-nav li.icon04.active a span { background-position: -164px -150px; }
.be-nav li.icon05.active a span { background-position: -164px -191px; }
.be-nav li.icon06.active a span { background-position: -164px -230px; }
.be-nav li.icon07.active a span { background-position: -164px -271px; }
.be-nav li.icon08.active a span { background-position: -166px -311px; }
.be-nav li.icon09.active a span { background-position: -161px -351px; }
.be-nav li.icon10.active a span { background-position: -164px -390px; }
.be-nav li.icon11.active a span { background-position: -164px -432px; }
.be-nav li.icon12.active a span { background-position: -160px -471px; }
.be-nav li.icon13.active a span { background-position: -164px -512px; }
.be-nav li.icon14.active a span { background-position: -163px -551px; }
.be-nav li.icon15.active a span { background-position: -164px -591px; }
.be-nav li.icon16.active a span { background-position: -164px -631px; }
.be-nav li.icon17.active a span { background-position: -164px -671px; }







.be-nav li.icon06 > a,
.be-nav li.icon06 > a:hover {
    color: #fff;
    font-weight: bold;
    border-top: 0;
    border-bottom: 0;
    background: #e33333; /* Old browsers */
    background: -moz-linear-gradient(top, #e33333 0%, #c51b1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e33333), color-stop(100%,#c51b1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e33333 0%,#c51b1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e33333 0%,#c51b1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e33333 0%,#c51b1b 100%); /* IE10+ */
    background: linear-gradient(top, #e33333 0%,#c51b1b 100%); /* W3C */
    box-shadow: 0 1px 0 darkred inset, 0 2px 0 rgba(255,255,255,0.5) inset, 0 -1px 0 darkred inset;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.be-nav li.icon06 > a:hover {
    background: #c51b1b; /* Old browsers */
    background: -moz-linear-gradient(top, #c51b1b 0%, #e33333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c51b1b), color-stop(100%,#e33333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c51b1b 0%,#e33333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c51b1b 0%,#e33333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c51b1b 0%,#e33333 100%); /* IE10+ */
    background: linear-gradient(top, #c51b1b 0%,#e33333 100%); /* W3C */
}

.be-nav li.icon07 > a,
.be-nav li.icon07 > a:hover {
    background: #fff;
}






textarea.yd-meal-element {
    width: 230px;
    height: 80px;
}

#yd-admin-backend-wait img,
#yd-restaurant-backend-wait img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    padding: 10px;
    border-radius: 50px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 3px #000;
}

/*
    Header + Navigation
***********************************************************/

#logo {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #aaa;
    background: -moz-linear-gradient(top,#fff,#ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}

#logo strong {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 400px;
    height: 50px;
    margin-left: -200px;
}

#logo a {
    position: absolute;
    top: 11px;
    right: 40px;
    display: block;
    padding: 7px 0 7px 30px;
    font-weight: bold;
    background: url(/media/images/yd-backend/yd-logout.png) 0px 2px no-repeat;
}

#header {
    position: relative;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
    background: -moz-linear-gradient(top,#fff,#eee);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
}



/*
    Layout
***********************************************************/

textarea {
    padding: 8px 10px;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.button-locations {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #555;
    border-radius: 4px;
}

.button-locations:hover {
    background: #ddf;
}

.yd-mwst {
    width: 60px;
    font-size: 10px;
}

.yd-save-menu-button {
    padding: 5px 10px;
    font-size: 11px;
}

#content {
    max-width: 1400px;
    margin: 20px auto;
}

.yd-grey-info {
    color: #999;
}

.yd-category-link {
    padding: 5px 5px;
    border-style: solid;
}

.yd-category-link-normal {
    font-size: 14px;
    border-width: 1px;
}

.yd-category-link-full {
    border-color: green;
    background-color: #eff9f0;
}

.yd-category-link-selected {
    font-size: 16px !important;
    font-weight: bold;
    border-width: 2px;
}

.yd-category-link-empty {
    border-color: red;
    background-color: #fdd;
}

.yd-category-link a {
    color: #333;
}

.yd-meal-name {
    font-size: 13px;
    width: 150px;
}


#restaurant-fixed {
    position: fixed;
    width: 95%;
    background: #ddf;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#restaurant-fixed-inner {
    padding: 10px;
}

#restaurant-fixed .one-column-box .item {
    margin: 15px 0 15px 0;
    width: 100%;
}

#restaurant-fixed #save-menu-button-container .button {
    float: right;
}

#restaurant-fixed #save-menu-button-container #yd-saving-menu-status {
    float: left;
    font-size: 20px;
    padding: 10px 0 0 50%;
    margin: 0 0 0 -100px;
}

/*
    Adminbackend Box-Modell
***********************************************************/

.item-head h1, .item-head h2, .item-head h3, .item-head h4, .item-head h5, .item-head h6 {
    font-size: 13px;
}

.item-content-green {
    padding: 15px;
    border: 1px solid #0f0;
}

.item-content-red {
    padding: 15px;
    border: 1px solid #f00;
}

.category-name td {
    padding: 5px 10px;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #ccc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#fafafa 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#fafafa 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#fafafa 100%); /* W3C */
}

.category-name td td {
    padding: 0;
    border: 0;
    background: none;
}

.category-subpanel td {
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #ccc;
    background: #fafafa;
}

.category-subpanel td td {
    border: 0;
    background: none;
}

.extras-links-table{
    background: #fff;
}

.extras-link{
    color: #333399;
}

.extras-group{
    height: 50px;
    background: #fff;
}

.extras-group-preview{
    height: 30px;
    background: #eef;
}

.extras-group-preview-meal{
    height: 30px;
    background: #ddf;
}

.extra-disabled {
    color: #999;
}

.extra-disabled .cost{
    color: #6f6f6f;
}


.options-links-table{
    background: #fff;
}

.options-link{
    color: #333399;
}

.options-group{
    height: 50px;
    background: #fff;
}

.optionsgroup-disabled {
    color: #999;
}

a.yd-meal-mealoption-nn-button {
    background: url("/media/images/yd-icons/extra-cross.png") no-repeat scroll 98% 4px, -moz-linear-gradient(center top , #FFFFFF 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    margin: 5px 5px 0 0;
    padding: 3px 20px 3px 5px;
}

.yd-remove-all-plz-button{
    border: 3px solid #f00;
    color: #000;
    background: #fdd;
}

.yd-remove-selected-plz-button{
    border: 2px solid #f00;
    color: #000;
    background: #fee;
}

hr {
    border: 0;
    height: 1px;
    background: #999;
    width: 100%;
    margin: 10px 0;
}



/*
    Dieses Tabellendesign gilt NUR für die Formulare
*/



.right-line {
    border-right: 1px solid #ddd;
}

form table textarea, form table .text {
    width: 200px;
}

form.restaurant_locations .text {
    width: 110px;
}

form.restaurant_locations input {
    width: 110px;
}

form table select {
    width: 180px;
}




/*
   Notifications
***********************************************************/

.notification {
    margin: 0 0 10px;
    position: relative;
    padding: 12px;
    font-size: 12px;
    border: 1px solid #555;
    background: #def;
}

.error {
    background: #fcc;
}

.warn {
    background: #ffe;
}

.success {
    background: #dfc;
}

.notification a {
    position: absolute;
    top: 0;
    right: 0;
}



/*
   Lightboxen
***********************************************************/

/* Background */

.promptffade {
    background: #000;
}

/* Box */

.promptf {
    position: absolute;
    width: 900px;
    background: #fff;
    box-shadow: 0 0 3px #000;
}

/* Header */

.promptf h1 {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    text-shadow: 0 1px 0px #fff;
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #e7e7e7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%,#e7e7e7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%,#e7e7e7 100%); /* IE10+ */
    background: linear-gradient(top, #f4f4f4 0%,#e7e7e7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
}

/* Footer */

.promptfbuttons {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    background: #eee;
}

.promptfbuttons button {
    margin: 0 10px;
}

/* Content */

.promptf-content {
    padding: 20px 50px;
    max-height: 320px;
    overflow-y: auto;
}

.promptf form {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

/* Close */

.promptfclose {
    float: right;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    background: url(/media/images/yd-sprites-icons.png) 4px -675px no-repeat;
}

/* Extra-Header */

#extrahead {
    padding: 16px 50px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    background: url(/media/images/yd-sprites-icons.png) -40px -2983px no-repeat #eee;
}

/* Extra Name and Price */

#extrahead #extramenu {
    text-align: right;
    padding: 0 0 8px;
    border-bottom: 1px dotted #aaa;
}

/* Extra Input */

#extrahead #extramenu .extraleft {
    float: left;
}

input#eingabefeld {
    width: 30px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    margin: 0 5px 2px 0;
    padding: 1px;
}

/* Extra Description */

#extrahead #extradesc {
    font-weight: normal;
    font-size: 10px;
    color: #555;
    padding: 5px 0 0;
}

/* Extra Item */

#yd-special-input {
    width: 458px;
    height: 30px;
    padding: 10px;
    font-size: 12px;
    color: #555;
    background: #fff;
}

/* Sonstiges */

#errors ul {
    padding: 0 30px;
    color: #f00;
}

#errors ul li {
    margin: 0 0 10px 0;
}

#yd-lb-wait {
    width: 48px;
    height: 48px;
    margin: 40px auto;
    background: url(/media/images/yd-background/yd-load-big.gif) no-repeat;
}

.notification,
.promptf
{
    border-radius: 4px;
}

.promptf h1
{
    border-radius: 4px 4px 0 0;
}

.promptfbuttons
{
    border-radius: 0 0 4px 4px;
}

/*
   Lightboxen Ende
***********************************************************/

div.send-billing {
    border:1px dotted #000;
    padding:2px;
}

td.centric {
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px;
    background: #f5f5f5;
}


/*
Sortable list
******************************************
*/

#sortable { 
    list-style-type: none; margin: 0; padding: 0; width: 70%;
}

#sortable li { 
    margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 13px; height: 13px;
}

#sortable li span { 
    position: absolute; margin-left: -1.3em;
}

html>body #sortable li { 
    height: 1.5em; line-height: 1.2em;
}

.ui-state-highlight { 
    height: 1.5em; line-height: 1.2em;
}

#yd-checkboxes-box {
    overflow: auto;
    width: 250px;
    height: 150px;
    border: 1px solid;
    padding-left: 10px;
    font-size: 12px;
    background-color: #fff;
}




.yd-change-checked-status-panel {
    width: 375px;
    height: 50px;
    margin: 20px auto;
    padding: 5px 0 5px 70px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.yd-change-checked-status-panel.status-red {
    background: url(/media/images/yd-backend/yd-back-status2.png) 0 10px no-repeat;
}

.yd-change-checked-status-panel.status-green {
    background: url(/media/images/yd-backend/yd-back-status1.png) 0 10px no-repeat;
}

.yd-change-checked-status-panel a {
    display: block;
    margin: 5px 0 0;
    font-size: 14px;
    color: #05a;
    text-decoration: underline;
}

.yd-change-checked-status-panel a:hover {
    color: #333;
}





.yd-backend-newcategory ul {
    width: 650px;
}

.yd-backend-newcategory ul li {
    margin: 2px 0;
    padding: 10px 0 10px 35px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.yd-backend-newcategory ul li:last-child {
    border: 0;
}

.yd-backend-newcategory ul li div {
    float: right;
    width: 400px;
}

.yd-backend-newcategory ul li div input[type=text] {
    width: 380px;
}

.yd-backend-newcategory ul li div textarea {
    width: 375px;
    height: 50px;
}

.yd-backend-newcategory ul li div option {
    width: 100px;
}

.yd-backend-newcategory ul li div small {
    float: right;
    font-size: 12px;
}

.yd-backend-newcategory ul li:nth-child(1) { background: url(/media/images/yd-backend/yd-back-newcat-1.png) 5px 10px no-repeat; }
.yd-backend-newcategory ul li:nth-child(2) { background: url(/media/images/yd-backend/yd-back-newcat-3.png) 5px 10px no-repeat; }
.yd-backend-newcategory ul li:nth-child(3) { background: url(/media/images/yd-backend/yd-back-newcat-2.png) 5px 10px no-repeat; }
.yd-backend-newcategory ul li:nth-child(4) { background: url(/media/images/yd-backend/yd-back-newcat-3.png) 5px 10px no-repeat; }
.yd-backend-newcategory ul li:nth-child(5) { background: url(/media/images/yd-backend/yd-back-newcat-4.png) 5px 10px no-repeat; }
.yd-backend-newcategory ul li:nth-child(6) { background: url(/media/images/yd-backend/yd-back-newcat-5.png) 5px 10px no-repeat; }
.yd-backend-newcategory ul li:nth-child(7) { background: url(/media/images/yd-backend/yd-back-newcat-6.png) 5px 10px no-repeat; }






.yd-order-notification {
    position: fixed;
    top: 119px;
    right: 35px;
    z-index: 1;
    width: 285px;
    padding: 15px 20px;
    border: 1px solid #000;
    border-radius: 4px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.yd-order-notification h1 {
    margin: 0 0 5px;
    padding: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.yd-order-notification ul {
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #000;
}

.yd-order-notification ul:last-child {
    margin: 0;
    border: 0;
}

.yd-order-notification ul li {
    padding: 5px 0;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
}

.yd-order-notification ul li:last-child {
    border: 0;
}

.yd-order-notification ul li span {
    float: left;
    font-weight: normal;
}

/* Hiding Content */

.hidden { display: none; }

.invisible { visibility: hidden; }

/* No Wrap Helper */

.yd-nowrap {
    white-space: nowrap;
}