<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="/media/css/jnm-frontend.css" />
    <script type="text/javascript" src="/media/javascript/jnm-control.js"></script>
</head>
<body class="home">
 <div class="container">
     <div class="banner">
         <div class="headerBanner"></div>
         <div class="footerBanner"></div>
     </div>
     <div class="content">
         <div class="suggestions">
             <table>
                 <tr>
                     <td>Comida</td>
                     <td>Comida</td>
                     <td>Comida</td>
                     <td>Comida</td>
                 </tr>
                 <tr>
                     <td>Comida</td>
                     <td>Comida</td>
                     <td>Comida</td>
                     <td>Comida</td>
                 </tr>
                 <tr>
                     <td>Comida</td>
                     <td>Comida</td>
                     <td>Comida</td>
                     <td>Comida</td>
                 </tr>
             </table>
             <div class="publicidade"></div>

         </div>
         <div class="col-right">
             <div class="menu"></div>
             <div class="menu"></div>
             <div class="menu"></div>
             <div class="facebook"></div>
         </div>

     </div>
 </div>
</body>

</html>