
<div style="font-family: Arial,serif;font-size: 12px;padding: 15px;background: #fff;border-radius: 5px;box-shadow: 0 0 3px #000;">

    taxiresto.fr rassemble les menus des restaurants livrant de repas dans votre quartier.
    Vous pouvez dès à présent et très simplement commander vos repas et vous faire livrer où vous le souhaitez.

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">1. Choisissez un restaurant</strong>
        Entrez votre code postal et choisissez un restaurant. Pour vous aider à choisir, utilisez nos filtres, etc…
    </p>

    <img src="{$domain_static}/images/yd-iphone/app-step1.jpg" style="width: 100%" />

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">2. Composez votre menu</strong>
        Ajoutez simplement vos plats et boissons préférés dans votre panier.
    </p>

    <img src="{$domain_static}/images/yd-iphone/app-step2.jpg" style="width: 100%" />

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">3. Faites-vous livrer</strong>
        Entrez l’adresse à laquelle vous souhaitez vous faire livrer et sélectionnez le mode de paiement que vous préférez.
    </p>

    <img src="{$domain_static}/images/yd-iphone/app-step3.jpg" style="width: 100%" />

</div>
