<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" xml:lang="de" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" xml:lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" xml:lang="de" class="ie8"> <![endif]-->
<!--[if gt IE 8 ]> <html lang="de" xml:lang="de" class="ie9"> <![endif]-->
<!--[!IE]>   <!--> <html lang="de" xml:lang="de">         <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="style/style.css" rel="stylesheet" type="text/css" />
        <title>lieferservice</title>

        <script type="text/javascript" src="/style/jquery.js"></script>
        <script type="text/javascript">
            <!--
            jQuery('#search-plz').live('click',function(){
                var plz = jQuery('input[name=plz]').val();
                location.href = '/'+plz;
            });
            jQuery('input[name=plz]').live('click',function(){
                jQuery(this).val(''); 
            });
            -->
        </script>
    </head>
    <body>

        <div id="wrapper">

            <div id="header">
                <form>
                    <input class="text" type="text" value="Postleitzahl" />
                    <input class="submit" id="search-plz" type="submit" value="" />
                </form>
            </div>

            <p class="p1">Impressum</p>

            <p class="p2">
                Laura Förster<br />
                Bergbaumstraße 14<br />
                10564 Berlin<br />
                <a></a>
            </p>

            <p class="p3">
                Hinweis: Alle Lieferservices die hier gelistet werden, sind Vertragspartner von yourdelivery.de.
                Diese Seite nimmt nur am offizielem Affilate Programm von yourdelivery.de teil.
            </p>

            <p class="p4">
                Haftungsausschluss:
                <br /><br />
                Haftung für Inhalte
                <br /><br />
                Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
                Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
                Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten
                nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
                jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
                oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
                allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch
                erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
                von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                <br /><br />
                Sämtliche Informationen oder Daten, ihre Nutzung sowie sämtliches mit den Websites
                zusammenhängendes Tun, Dulden oder Unterlassen unterliegen ausschließlich deutschem Recht,
                unter Ausschluß von internationalem Recht. Erfüllungsort und ausschließlicher Gerichtsstand
                ist Berlin.
                <br /><br />
                Haftung für Links
                <br /><br />
                Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen
                Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
                Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
                Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
                Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
                erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
                Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
                werden wir derartige Links umgehend entfernen.
                <br /><br />
                Urheberrecht
                <br /><br />
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
                Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung
                des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
                privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht
                vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden
                Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
                aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
                Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                <br /><br />
                Datenschutz
                <br /><br />
                Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
                Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen)
                erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne
                Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
                <br /><br />
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
                Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
                nicht möglich.
                <br /><br />
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
                Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit
                ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte
                im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
            </p>

        </div>

    </body>
</html>
