
<div style="font-family: Arial,serif;font-size: 12px;padding: 15px;background: #fff;border-radius: 5px;box-shadow: 0 0 3px #000;">

    Die am häufigsten gestellen Fragen und Antworten:

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">Hat lieferando meine Bestellung erhalten? Wann kommt mein Essen?</strong>
        Deine Bestellung wird direkt an das Restaurant weitergeleitet. Danach erhältst Du eine Bestätigungsmail . Sollte es Probleme mit dem Essen oder der Auslieferung geben, kannst Du das Restaurant direkt kontaktieren. Sollte was unklar sein, bitte kontaktiere uns unter <a href="mailto:support@lieferando.ch">support@lieferando.ch</a> oder unserem Support-Chat.
    </p>

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">Wie kann ich einen Gutscheincode einlösen?</strong>
        Der Gutscheincode kann im letzten Schritt eingegeben werden, wo Du die Bezahlmethode auswählst. Der Gutscheinwert wird vom Gesamtbetrag der Bestellung abgezogen. Sollte dann noch ein Restbetrag offen sein, muss dieser per Onlinezahlung (PayPal, Kreditkarte oder Sofortüberweisung) bezahlt werden. Bei Barzahlung kann der Gutschein nicht eingelöst werden.
    </p>

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">Bei welchen Lieferservices kann ich meinen Gutschein einlösen?</strong>
        Du kannst den Gutschein bei allen Lieferservices einlösen, die Online-Zahlung (Sofort-Überweisung, Paypal, Kreditkarte) anbieten. Diese erkennst Du auch an dem Prozentzeichen auf der Übersichtsseite. Bei Barzahlung können keine Gutscheine eingelöst werden.
    </p>

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">Wie kann ich bestellen?</strong>
        1. Gib Deine Postleitzahl ein.<br />
        2. Such Dir ein Restaurant aus.<br />
        3. Stelle Deine Bestellung zusammen.<br />
        4. Wähle die Bezahlmethode aus.<br />
        5. Fertig.
    </p>

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">Woher weiß ich, dass meine Bestellung beim Restaurant eingetroffen ist?</strong>
        Deine Bestellung wird automatisch an das Restaurant übermittelt. Sobald sie dort eingegangen ist, erhältst Du deine Bestätigungsmail mit der Auflistung Deiner gesamten Bestellung sowie den Kontaktdaten des Restaurants. Sollte es Probleme mit dem Essen oder der Auslieferung geben, kannst Du das Restaurant so direkt kontaktieren.
    </p>

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">Du hast keine Bestätigungsmail erhalten?</strong>
        1. Überprüfe deine Internet-Verbindung.<br />
        2. Überprüfe deinen Spam-Ordner.<br />
        3. Kontaktiere uns, um Deine angegebene E-Mail-Adresse zu überprüfen: <a href="mailto:support@lieferando.ch">support@lieferando.ch</a> oder in unserem Support-Chat.<br /><br />
        Wenn Du unsicher bist, rufe einfach kurz direkt beim Restaurant an.
    </p>

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">Was kann ich tun, wenn die Bestellung eingetroffen ist, aber mit dem Essen etwas nicht stimmt?</strong>
        Wenn mit Deiner Bestellung etwas nicht korrekt ist, kontaktiere bitte für eine schnellstmögliche Lösung zunächst das Restaurant selbst. Ansonsten kannst Du Dich natürlich auch an unseren Support bzw. unseren Support-Chat wenden.
    </p>

</div>
