<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="pt" xml:lang="pt" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt" xml:lang="pt" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt" xml:lang="pt" class="ie8"> <![endif]-->
<!--[if gt IE 8 ]> <html lang="pt" xml:lang="pt" class="ie9"> <![endif]-->
<!--[!IE]>   <!--> <html lang="pt" xml:lang="pt">         <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="{__('%s - Speisekarte anschauen und online in %s bestellen. Anschließend online bezahlen und sich in %s beliefern lassen!', $service->getName(), $service->getCity(), $service->getCity())}" />
        <meta name="keywords" content="{$satellite->getKeywords()}" />
        <meta name="language" content="de" />
        {if $preview}
        <meta name="robots" content="noindex, follow" />
        {else}
        {if $additionalMetatags}
        {foreach from=$additionalMetatags item=meta}
        {$meta}
        {/foreach}
        {else}
        <meta name="robots" content="{$satellite->getRobots()}" />
        {/if}
        {/if}
        <title>{__("%s - die passende Speisekarte, die jeden Hunger in %s stillt!", $service->getName(), $service->getCity())}</title>
        
        {if $service->isPremium()}
        <link rel="shortcut icon" type="image/png" href="/storage/satellites/{$satellite->getDomain()}/img/favicon.ico" />
        {else}
        <link rel="canonical" href="http://{$satellite->getDomain()}/menu" />
        {/if}

        <link rel="stylesheet" type="text/css" href="/media/css/compiled/{$package_css|default:'satellite'}-{$extra_css|default:'no'}-{$REVISION}.css" />
        
        {if $package_css != 'gelbeseiten' && $package_css != 'gelbeseiten.staging'}
            {if $satellite->getCss()}
            <style type="text/css">{$satellite->getCss()}</style>
            {else}
            <link rel="stylesheet" type="text/css" href="/media/css/satellites/color-default.css" />
            {/if}
        {/if}

        <script type="text/javascript" src="/media/javascript/compiled/frontend-{$REVISION}-satellite.js"></script>
    </head>

    <body style="background:url({$satellite->getBackground()}) repeat 0 0 transparent;" class="sattelite satteliteid-{$satellite->getId()} {strtolower($service->getName())} {if $satellite->isPremium()}premium{/if}" >

        {assign var=serviceCacheId value=$service->getId()}
        {include file='order/_includes/menu/ranges.htm' caching=1 cache_lifetime=86400 cache_id="ranges.$serviceCacheId"}

        <div id="yd-nonfooter">
            {include file='notification.htm'}
            <div id="content" class="yd-clearfix">

                {block name='content'}{/block}
            </div>
        </div>

        <div id="yd-menu-footer">

            <div id="yd-menu-footer_content">

                <p>
                    {if !$satellite->isPremium()}
                    {$service->getName()} {$service->getStreet()} {$service->getHausnr()} {$service->getPlz()} {$service->getCity()->getCity()}
                    {/if}
                </p>

            </div>
        </div>

    </body>
</html>
