
<phpunit bootstrap="./application/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         stopOnError="false"
         backupGlobals="false"
         syntaxCheck="true"
         processIsolation="true"
         logIncompleteSkipped="false" >
    <testsuite name="Yourdelivery" >
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <exclude>
                <file>../application/Bootstrap.php</file>
                <file>../application/controllers/ErrorController.php</file>
                <directory>../application/templates/</directory>
                <directory>../application/data/</directory>
                <directory>../application/views/smarty/</directory>
                <directory suffix=".php">../library/</directory>
                <directory suffix=".htm">../application/</directory>
                <file>../application/Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="../../build/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>
</phpunit>
