<script type="text/javascript">
    <!--
    var services = [];
    {foreach from=$services item=r}
        services.push({
            id: {$r->getId()},
            type: "{$r->getType()}",
            alpha: "{$r->getName()|strtolower}",
            name: "{$r->getName()}",
            ratingcount: {if $r->getRating()->count(null, true, false, true) < 5}0{else}{$r->getRating()->count(null, true, false, true)|default:5}{/if},
            ratingstars: "{if $r->getRating()->count(null, true, false, true) < 5}0{else}{$r->getRating()->getAverage()}{/if}",
            ratingvotes: {if $r->getRating()->count(null, true, false, true) < 5}0{else}{round($r->getRating()->getAverageAdvise())}{/if},
            mincost: {$r->getMincost()|default:0},
            category: {$r->getCategory()->id|default:0},
            premium: "{if $r->isPremium() || $r->isBloomsburys() || $r->isLieferblitz()}a{else}b{/if}{$r->getName()|strtolower}",
            delivercost: {$r->getDeliverCost()|default:0},
            openings: {$this->formatOpeningsAsJson($r->getOpening()->getIntervalOfDay())},
            score: {$r->getSortingScore($time)}
        });
    {/foreach}
    -->
</script>

