{extends file="base.htm"}
{block name="content"}

<div class="yd-register yd-clearfix">

    <div class="yd-register-sidebar">

        <div id="yd-register-teaser" class="yd-box">
            <div class="yd-box-title">
                {__('Vorteile eines kostenlosen Accounts')}
            </div>
            <div class="yd-box-body">
                <ul>
                    <li class="yd-register-icon-2">{__('Teilnahme am Bonusprogramm')}</li>
                    <li class="yd-register-icon-3">{__('Besondere Angebote')}</li>
                    <li class="yd-register-icon-4">{__('Überblick über alle Bestellungen')}</li>
                    <li class="yd-register-icon-5">{__('Regelmäßige Gutscheine')}</li>
                    <li class="yd-register-icon-6">{__('Bevorzugte Behandlung beim Support')}</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="yd-box yd-register-form" id="yd-form-register">
        <form method="post" action="/user/register" class="yd-validation">
            <input type="hidden" name="action" value="register" />
            {$fidelity}
            <div class="yd-form">
                <strong class="yd-form-tease">
                    {__('Jetzt registrieren!')}
                    <span>{__('Bequem bestellen, Treuepunkte sammeln, Gutscheine nutzen!')}</span>
                </strong>
                <div class="yd-form-facebook-block hidden" style="position: relative; margin: 20px 0;">
                    <a class="yd-facebook-login" id="fb-connect" style="width: 200px;">{__('Mit Facebook anmelden')}</a>
                    <a href="/faq#facebook" style="position: absolute; top: 7px; left: 265px;">{__("Fragen zur Anmelden mit Facebook?")}</a>
                </div>
                <div class="yd-form-wrapper">
                    <ul class="yd-clearfix br-sex">
                        <li class="yd-form-left">{__('Geschlecht')}</li>                        
                        <li class="br-radios-rw">
                            <input type="radio" name="sex" {if isset($post.sex) && $post.sex == "w"}checked="checked"{/if} id="sex" value="w" class="validate[minCheckbox,1]" /> {__('Frau')}
                            <input type="radio" name="sex" {if isset($post.sex) && $post.sex == "m"}checked="checked"{/if} id="sex2" value="m" /> {__('Herr')}
                        </li>
                    </ul>
                    <ul class="yd-clearfix">
                        <li class="yd-form-left">
                            <span>{__('Vorname')} <b class="red">*</b></span>
                            <input type="text" id="prename" name="prename" value="{$post.prename}" maxlength="30" class="yd-form-input yd-form-invalid validate[prename]" />
                        </li>
                        <li class="yd-form-right">
                            <span>{__('Nachname')} <b class="red">*</b></span>
                            <input type="text" id="name" name="name" value="{$post.name}" maxlength="30" class="yd-form-input yd-form-invalid validate[name]" />
                            <em class="yd-form-info hidden" >{__('Bitte gib hier Deinen Vor- und Nachnamen ein.')}</em>
                        </li>
                    </ul>
                    <ul class="yd-clearfix">
                        <li class="yd-form-{if $domain_base != 'taxiresto.fr'}left{else}right{/if}">
                            <span>{__('Straße')} <b class="red">*</b></span>
                            <input type="text" id="street" name="street" value="{$post.street}" class="yd-form-input yd-form-invalid validate[street]" />
                        </li>
                        <li class="yd-form-{if $domain_base != 'taxiresto.fr'}right{else}left{/if}">
                            <span>{__('Hausnummer')} <b class="red">*</b></span>
                            <input type="text" name="hausnr" id="hausnr" maxlength="{$config->locale->housenumber->max}" value="{$post.hausnr}" class="yd-form-input yd-form-invalid validate[hausnr]" />
                            <em class="yd-form-info hidden" {if $domain_base == 'taxiresto.fr'}style="right:-315px;"{/if}>{__('Bitte gib hier Straße und Hausnummer ein.')}</em>
                        </li>
                    </ul>
                    <ul class="yd-clearfix">
                        <li class="yd-form-left">
                            <span>{__('Postleitzahl')} <b class="red">*</b></span>
                            {if $config->domain->base == 'janamesa.com.br'}
                                <a id="br-cep-autocomplete" class="br-cep-location">Não sabe seu CEP? Clique aqui</a>
                            {/if}
                            <input type="hidden" id="cityId" name="cityId" value="{$post.cityId}" />
                            <input type="text" id="plz" name="plz" value="{$post.plz}" class="yd-form-plz-required yd-form-input yd-form-invalid yd-plz-autocomplete yd-only-nr" />
                        </li>
                    </ul>
                    <ul class="yd-clearfix">
                        <li class="yd-form-left">
                            <span>{__('Telefon')} <b class="red">*</b> <small>{__('Für evtl. Rückfragen')}</small></span>
                            <input type="text" id="tel" name="tel" value="{$post.tel}" maxlength="20" class="yd-only-nr yd-form-input yd-form-invalid validate[telefon]" />
                        </li>
                        <li class="yd-form-right">
                            <span>{__('E-Mail')} <b class="red">*</b> <small>{__('Für Ihre Bestellbestätigung')}</small></span>
                            <input type="text" id="email" name="email" value="{$post.email}" maxlength="50" class="yd-form-input yd-form-invalid validate[custom[email]]" />
                            <em class="yd-form-info hidden" >{__('Bitte gib hier Deine Telefonummer & E-Mail-Adresse ein.')}</em>
                        </li>
                    </ul>
                    <ul class="yd-clearfix yd-form-section">
                        <li class="yd-form-left">
                            <span>{__('Passwort')} <b class="red">*</b></span>
                            <input type="password" name="password" id="pw" class="yd-form-input yd-form-invalid validate[length[5,20]]" value="" />
                        </li>
                        <li class="yd-form-right">
                            <span>{__('Passwort wiederholen')} <b class="red">*</b></span>
                            <input type="password" name="password" id="pwagain" class="yd-form-input yd-form-invalid validate[confirm[pw]]" value="" />
                            <em class="yd-form-info hidden">{__('Bitte wähle Dein persönliches Passwort. ( 5 - 20 Zeichen )')}</em>
                        </li>
                    </ul>
                    <ul class="yd-clearfix" >
                        <li class="yd-form-left" >
                            <span>{__('Geburtstag')} <small class="green" >{__('(optional)')}</small></span>
                            <input type="text" id="birthday" name="birthday" value="{$post.birthday}" maxlength="10"
                                   class="yd-form-input  validate[custom[birthday]]" />
                        </li>
                        <li class="yd-form-right">
                            <em class="yd-form-info hidden" >{__('Hier kannst Du Deinen Geburtstag angeben.')}<br /><br />z.B. 05.06.1983</em>
                        </li>
                    </ul>
                    <ul class="yd-clearfix">
                        <li class="yd-form-left">
                            <span>{__('Firma')} <small class="green">{__('(optional)')}</small></span>
                            <input type="text" id="company" name="companyName" value="{$post.companyName}" class="yd-form-input" />
                        </li>
                        <li class="yd-form-right">
                            <span>{__('Stockwerk')} <small class="green">{__('(optional)')}</small></span>
                            <input type="text" id="etage" name="etage" value="{$post.etage}" class="yd-form-input" />
                            <em class="yd-form-info hidden" >{__('Hier kannst Du Deine Firma & Stockwerk/Etage angeben')}</em>
                        </li>
                    </ul>
                    <ul class="yd-clearfix yd-form-section">
                        <li class="yd-form-middle">
                            <span>{__('Besondere Hinweise')} <small class="green">{__('(optional)')}</small></span>
                            <textarea name="comment" id="comment" class="yd-form-input">{$post.comment}</textarea>
                            <em class="yd-form-info hidden" >{__('Hier kannst Du ergänzende Angaben machen (z.B. "bitte bei Mustermann klingeln" etc.)')}</em>
                        </li>
                    </ul>
                    <div class="br-terms">
                        <ul class="yd-clearfix">
                            <li class="yd-form-middle">
                                <input style="float:left;" {if isset($post.agb) && $post.agb == "1"}checked="checked"{/if} type="checkbox" id="agb" name="agb" value="1" class="validate[agb]" />
                                       <span style="margin-left:24px;"><label for="agb">{__('Ich bin mit den %sAGB%s und %sDatenschutzbestimmungen%s einverstanden.', '<a href="/customer-terms" target="_blank">', '</a>','<a href="/privacy" target="_blank">', '</a>')}</label></span>
                            </li>                        
                        </ul>  
                    </div>          
                    <br /><br />
                    <a class="yd-button-280 yd-submit-on-click">{__('Registrierung abschließen')}</a>
                </div>
            </div>
        </form>

    </div>

</div>

{/block}
