
<div style="font-family: Arial,serif;font-size: 12px;padding: 15px;background: #fff;border-radius: 5px;box-shadow: 0 0 3px #000;">

    lieferando.de ist eine Sammlung der Lieferservices in Deiner Umgebung.
    Hier kannst du einfach und bequem beim Lieferservice in Deiner Gegend bestellen.

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">1. Postleitzahl eingeben</strong>
        Gib Deine Postleitzahl ein und finde die besten & leckersten Lieferservices in Deiner Nähe.
    </p>

    <img src="{$domain_static}/images/yd-iphone/app-step1.jpg" style="width: 100%" />

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">2. Essen auswählen</strong>
        Füge Lieblingsspeisen & Getränke (z.B. Pizza, Pasta, Sushi) schnell und einfach Deinem Warenkorb hinzu.
    </p>

    <img src="{$domain_static}/images/yd-iphone/app-step2.jpg" style="width: 100%" />

    <p style="padding: 5px;margin: 10px 0;background:#f5f5f5;border-radius: 5px;box-shadow: 0 0 3px #777;">
        <strong style="display: block;margin: 0 0 5px;">3. Liefern lassen</strong>
        Lass Dir Deine Bestellung direkt nach Hause oder ins Büro liefern. Du bezahlst bequem online oder bar bei Lieferung.
    </p>

    <img src="{$domain_static}/images/yd-iphone/app-step3.jpg" style="width: 100%" />

</div>

