<div class="yd-profile-head">


    <ul>
        <li><a class="{if $active==0}active{/if}" href="/user/index">{$cust->getFullname()}</a></li>
        <li>
            <a class="active">
                {$active_title}
                <span class="hidden yd-user-form-error">{__('Bitte klicke in die rot markierten Felder und überprüfe sie.')}</span>
            </a>
        </li>
    </ul>

</div>

<div class="yd-profile-nav yd-box br-box">

    <ul>
    	<li><a href="/user/index" class="yd-pn0 {if $active==0}active{/if}"><span>{__('Perfil')}</span></a></li>
        <li><a href="/user/settings" class="yd-pn1 {if $active==1}active{/if}"><span>{__('Meine Daten')}</span></a></li>
        <li><a href="/user/socialnetworks" class="yd-pn7 {if $active==7}active{/if}"><span>{__('Soziale Netzwerke')}</span></a></li>
        <li><a href="/user/locations" class="yd-pn2 {if $active==2}active{/if}"><span>{__('Lieferadressen')}</span></a></li>
        <li><a href="/user/favourites" class="yd-pn3 {if $active==3}active{/if}"><span>{__('Favoriten')}</span></a></li>
        <li><a href="/user/orders/perPageuser_orders/25" class="yd-pn4 {if $active==4}active{/if}"><span>{__('Vorherige Bestellungen')}</span></a></li>
        <li><a href="/user/ratings" class="yd-pn5 {if $active==5}active{/if}"><span>{__('Restaurant bewerten')}</span></a></li>
        <li><a href="/user/fidelity" class="yd-pn6 {if $active==6}active{/if}"><span>{__('Treuepunkte')}</span></a></li>
    </ul>

    <!-- <a class="yd-profile-button">{__('Jetzt Freunde einladen')}</a> -->

</div>
