
{extends file='user/_base.htm'}

{block name="content"}

<div class="yd-profile yd-clearfix">

    <div class="br-inner-box">

        {include file='user/_header.htm' active=7 active_title=__('Soziale Netzwerke')}

        <div class="yd-profile-body">

            <h1>
                {__('Facebook-Einstellungen')}
            </h1>
            {if $cust->getFacebookId()}
            <form action="/user/socialnetworks" class="yd-profile-form yd-clearfix fm yd-validation yd-profile-social" method="post" id="yd-user-settings-form" enctype="multipart/form-data">

                <h2>{__('Vielen Dank, dass Du Deinen lieferando.de Account mit Facebook verbunden hast.')}</h2>
                <h3>{__('Dein aktuell mit lieferando.de verbundenes Profil:.')}</h3>

                <table>
                    <tr>
                        <td>
                            <a href="http://www.facebook.com/{$cust->getFacebookId()}">{$cust->getPrename()} {$cust->getName()}</a>
                        </td>
                        <td>
                            {__('Account mit Facebook verbunden')}<br /><br />
                            <input type="checkbox" value="1" id="facebookId" name="facebookId" checked="checked" />
                            <div id="yd-lang-confirm-facebook-id-delete" class="hidden">{__('Bist Du Dir sicher, dass Du Deinen Account von Facebook trennen möchtest?\nDu verlierst die 15 Treuepunkte, die Du zur Verknüpfung bekommen hast.')}{if !$cust->getPassword()}


{__('Bitte gib Dir im nächsten Schritt ein Passwort, um lieferando.de weiter nutzen zu können.')}{/if}
                            </div>
                        </td>
                        <td>
                            <div class="hover">
                                {__('Meine Bestellungen auf meiner Pinnwand posten.')}<br /><br />
                                <input type="checkbox" value="1" id="facebookPost" name="facebookPost" {if $cust->getFacebookPost()}checked="checked"{/if} />
                                       <div id="yd-lang-confirm-facebook-post-delete" class="hidden">{__('Bist Du Dir sicher, dass Du keine Posts mehr senden möchtest?')}</div>
                            </div>
                        </td>
                    </tr>
                </table>

            </form>
            {else}
            <div class="yd-profile-social">

                <h2>{__('Dein lieferando.de-Account ist noch nicht mit Facebook verbunden.')}</h2>

                <a class="yd-facebook-login" id="fb-connect"><img src="/media/css/www.janamesa.com.br/images/facebookconnect.png" /></a>

                <ul>
                    <li>
                        {__('Teile Deinen Freunden mit, was Du bestellst! Sieh, was sie bestellen!')}
                    </li>
                    <li>
                        {__('Erhalte 15 Treuepunkte für die Verknüpfung Deines Facebook-Profils mit lieferando.de!')}
                    </li>
                    <li>
                        {__('Bestell Essen mit Deinem Facebook-Account!')}
                    </li>
                </ul>

                <h3>{__("Noch Fragen zum Facebook-Login?")} <a href=\"/faq#facebook\"> {__("Dann klicke hier!")}</a></h3>

            </div>
            {/if}
        </div>

    </div>

</div>
{/block}
