
<div style="font-family: Arial,serif;font-size: 12px;padding: 15px;background: #fff;border-radius: 5px;box-shadow: 0 0 3px #000;">

Pizzas, Massas, Sushi e muito mais! Escolhe entre 400 restaurantes de São Paulo seu prato favorito no delivery online Jánamesa.
<br /><br />
Você pode pagar online ou à vista. Junte Pontos de fidelidade e ganhe um prato gratuito a partir de 100 pontos.
<br /><br />
Jánamesa Ltda. <br />
Rua Sampaio Vidal, 1140 <br />
CEP 01443-001 São Paulo-SP <br />
Tel.: (11) 4063-1731 <br />
</div>
