
<div class="yd-dialogs yd-dialogs-howitworks"><a class="yd-dialogs-close"></a>

    <div class="yd-dialogs-head">
        <h2>Tak to działa – łatwe zamawianie:</h2>
    </div>

    <div class="yd-dialogs-body">

        <ul class="yd-clearfix">
            <li class="yd-dialogs-howitworks-1">
                <strong>1. Wybierz restaurację</strong>
                <p>
                    Wpisz swój adres dostawy i zobacz, które restauracje dowożą na podany adres. Wybierz restaurację
                    według ulubionej kuchni lub najlepszych opinii. Możesz oczywiście użyć także innych filtrów wyszukiwania.
                    Zobacz po prostu, na jakie danie masz dziś ochotę.
                </p>
            </li>
            <li class="yd-dialogs-howitworks-2">
                <strong>2. Wybierz danie</strong>
                <p>
                    Jesteś głodny? Pizza, sushi albo kebab, wybierz ulubioną potrawę i dodaj ją do koszyka. Na pyszne.pl
                    mamy w ofercie ponad 250.000 potraw, napewno znajdziesz i Ty coś dla siebie! Możesz już już teraz, w
                    górnej części strony, wybrać Twoje ulubione danie.
                </p>
            </li>
            <li class="yd-dialogs-howitworks-3">
                <strong>3. Przekazanie zamówienia</strong>
                <p>
                    Automatycznie przekazujemy Twoje zamówienie do restauracji za pomocą pyszne.pl terminalu. 100% gwarancji!
                    Nasze przekazywanie zamówienia działa bez zarzutu i jest łatwiejsze niż zamawianie telefoniczne. Zamówienia
                    są drukowane, dzięki temu restauracja ma wszystko czarno na białym.
                </p>
            </li>
            <li class="yd-dialogs-howitworks-4">
                <strong>4. Dostarczenie zamówienia</strong>
                <p>
                    Restauracja przygotuje zamówienie i dostarczy je bezpośrednio do Ciebie. Możesz zapłacić wcześniej online
                    lub gotówką przy dostawie. W wielu restauracjach polecamy płatność online. Możesz zapłacić online na wiele
                    sposobów - przelewem internetowym, PayPal lub kartą kredytową.
                </p>
            </li>
        </ul>

    </div>

</div>
