<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" xml:lang="de" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" xml:lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" xml:lang="de" class="ie8"> <![endif]-->
<!--[if gt IE 8 ]> <html lang="de" xml:lang="de" class="ie9"> <![endif]-->
<!--[!IE]>   <!--> <html lang="de" xml:lang="de">         <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=1100">

        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-core.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-user-fonts.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-user.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-hidden.css" />

        <script type="text/javascript" src="/media/javascript/compiled/frontend-test.js"></script>

        <script>

            function equalHeight(group) {
                tallest = 0;
                group.each(function() {
                    thisHeight = $(this).height();
                    if(thisHeight > tallest) {
                        tallest = thisHeight;
                    }
                });
                group.height(tallest);
            }

            $(document).ready(function() {

                equalHeight($(".yd-profile-nav,.yd-profile-body"));

            });

        </script>

    </head>

    <body class="de2">
        <div id="yd-nonfooter">

            <div class="yd-header">
                <div class="yd-inner">
                    <a class="yd-logo" href="/"></a><h1 style="font-size:80px; color: #fff;">!!! TESTORDNER !!!</h1>
                </div>
            </div>

            <div id="yd-content" class="yd-clearfix">

                <div class="yd-profile yd-clearfix">

                    <div class="yd-profile-head">

                        <a class="yd-button-140">Essen bestellen</a>

                        <ul>
                            <li><a href="/test/account0">Maximilian Mustermann</a></li>
                            <li><a class="active">Treuepunkte</a></li>
                        </ul>

                    </div>

                    <div class="yd-profile-nav">

                        <ul>
                            <li><a href="/test/account1" class="yd-pn1"><span>Meine Daten</span></a></li>
                            <li><a href="/test/account2" class="yd-pn2"><span>Lieferadressen</span></a></li>
                            <li><a href="/test/account3" class="yd-pn3"><span>Favoriten</span></a></li>
                            <li><a href="/test/account4" class="yd-pn4"><span>Vorherige Bestellungen</span></a></li>
                            <li><a href="/test/account5" class="yd-pn5"><span>Restaurant bewerten</span></a></li>
                            <li><a href="/test/account6" class="yd-pn6"><span>Treuepunkte</span></a></li>
                            <li><a href="/test/account7" class="yd-pn7 active"><span>Exklusive Gutscheine</span></a></li>
                        </ul>

                        <a class="yd-profile-button">Jetzt Freunde einladen</a>

                    </div>

                    <div class="yd-profile-body">

                        <h1>Deine Vorteilsangebote als Lieferando Kunde</h1>

                        <div class="yd-coupon">

                            <div class="yd-coupon-first">
                                <h2>
                                    Wir schenken Dir exklusive Gutscheine
                                    <strong>als Dankeschön für Deine Treue.</strong>
                                </h2>
                                <span></span>
                            </div>

                            <div class="yd-coupon-second">
                                <div>
                                    <h3><i>50%</i> Gutschein</h3>
                                    <small>für www.videobuster.de</small>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour, or randomised words which don't
                                        look even slightly believable. If you.
                                    </p>
                                </div>
                                <span>
                                    <a>Jetzt sofort einlösen</a>
                                    <img src="{$domain_static}/images/yd-profile/test.png" />
                                </span>
                            </div>

                            <div class="yd-coupon-everything-else">
                                <div>
                                    <h3><i>50%</i> Gutschein</h3>
                                    <small>für www.videobuster.de</small>
                                </div>
                                <span>
                                    <a>Jetzt sofort einlösen</a>
                                    <img src="{$domain_static}/images/yd-profile/test.png" />
                                </span>
                            </div>

                            <div class="yd-coupon-everything-else">
                                <div>
                                    <h3><i>50%</i> Gutschein</h3>
                                    <small>für www.videobuster.de</small>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour, or randomised words which don't
                                        look even slightly believable. If you.
                                        There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour, or randomised words which don't
                                        look even slightly believable. If you.
                                    </p>
                                </div>
                                <span>
                                    <a>Jetzt sofort einlösen</a>
                                    <img src="{$domain_static}/images/yd-profile/test.png" />
                                </span>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div id="yd-footer"></div>

    </body>
</html>
