<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" xml:lang="de" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" xml:lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" xml:lang="de" class="ie8"> <![endif]-->
<!--[if gt IE 8 ]> <html lang="de" xml:lang="de" class="ie9"> <![endif]-->
<!--[!IE]>   <!--> <html lang="de" xml:lang="de">         <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=1100">

        <title>Test</title>

        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-core.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-home.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-expansions.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-step5.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-jquery.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-ie.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-frontend-hidden.css" />

        <script type="text/javascript" src="/media/javascript/compiled/frontend-{$REVISION}.js"></script>

        <style>







        </style>

    </head>
    <body class="de">

        <div id="yd-nonfooter">

            <div class="yd-header">
                <div class="yd-inner">
                    <a class="yd-logo" href="/"><img src="/media/images/www.lieferando.de/Lieferando-de-Lieferservice-Logo.png" title="Lieferservice online finden mit Lieferando.de" alt="Beim Lieferservice online bestellen mit Lieferando.de" /></a>
                    <div class="yd-bubble"></div>
                    {include file='_header/login.htm'}
                </div>
            </div>

            <div id="yd-content" class="yd-clearfix">



                <a id="yd-postal-request" style="display:block;margin: 100px;font: bold 100px arial;color: #a90329;">CLICK ME NOW</a>






                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


                <div id="yd-success-page" class="yd-success">

                    <div id="yd-ordering">

                        <div class="yd-order-notify">


                            <ul class="yd-success-message yd-box">
                                <li class="yd-notify-true">
                                    Deine Bestellung wurde übermittelt. In Kürze erscheint hier die Lieferzeit.
                                </li>

                                <li class="yd-notify-load">
                                    Bitte warte einen Moment auf die Bestätigung vom Dienstleister.
                                </li>

                                <li class="yd-notify-true">
                                    Deine Bestellung wird am xxxxx geliefert.
                                </li>

                                <li class="yd-notify-true">
                                    Die Bestätigung Deiner Bestellung wurde an die folgende E-Mail-Adresse gesendet: fghfghfghdfghfgh
                                </li>

                                <li class="yd-notify-true">
                                    Bitte warte einen Moment auf die Zahlungsbestätigung.
                                </li>

                                <li class="yd-notify-load">
                                    Bitte kontaktiere uns, falls Du diese Meldung länger als 5 Minuten siehst.
                                </li>

                                <li class="yd-notify-false">
                                    Der Dienstleister hat Deine Bestellung abgelehnt.
                                </li>

                                <li class="yd-notify-false">
                                    Bitte bestelle bei einem anderen Dienstleister.
                                </li>

                                <li class="yd-notify-false">
                                    Deine Bestellung wurde storniert.
                                </li>

                                <li class="yd-notify-false">
                                    Dein Gutscheincode ist nicht korrekt oder ungültig.
                                </li>

                                <li class="yd-notify-false">
                                    Deine Bestellung wurde storniert.
                                </li>

                                <li class="yd-notify-false">
                                    Es ist ein Fehler bei der Bestellungsübermittlung aufgetreten.
                                </li>

                                <li class="yd-notify-false">
                                    Bitte versuche nochmals zu Bestellen oder kontaktiere direkt den Dienstleister unter der untenstehenden Nummer
                                </li>
                            </ul>










                        </div>






                        <h1>
                            Vielen Dank, Deine Bestellung wurde erfolgreich übermittelt!
                        </h1>

                        <div class="yd-success1 yd-box">
                            Eine Bestellbestätigung wurde an Deine E-Mail-Adresse seifert@lieferando.de gesendet.
                        </div>

                        <div class="yd-rest-info yd-box yd-clearfix">
                            <h2>Restaurant Burger Dream</h2>
                            <small>Danziger Str. 16, 10435 Berlin</small>
                            <span>
                                Bei Fragen zur Bestellung, Lieferzeit oder den Produkten wende Dich bitte an:
                            </span>
                            <img class="yd-rest-logo" src="http://image.yourdelivery.de/lieferando.de/service/12291/Burger+Dream-155-100.jpg" alt="Burger Dream" />
                            <strong>03040505228</strong>
                        </div>


                    </div>



                </div>

            </div>

        </div>

        <div class="yd-footer">
            <div class="yd-inner yd-clearfix">

                <div class="yd-footer-left">

                    <div class="yd-footer-title">Übersicht</div>

                    <div class="yd-footer-column">
                        <ul>
                            <li><a rel="follow" href="/about">Impressum</a></li>
                            <li><a rel="follow" href="/customer-terms">AGB</a></li>
                            <li><a rel="follow" href="/privacy">Datenschutz</a></li>
                            <li><a rel="follow" href="/faq" target="_blank">FAQs</a></li>
                            <li><a rel="follow" href="/chat" target="_blank">Kundenservice</a></li>
                        </ul>
                    </div>

                    <div class="yd-footer-column">
                        <ul>
                            <li><a rel="follow" href="/ueber-uns">Über lieferando</a></li>
                            <li><a rel="follow" onclick="location.href='/privatkunden'">Privatkunden</a></li>
                            <li><a rel="follow" onclick="location.href='/firmenloesungen.shtml'">Firmenlösungen</a></li>
                            <li><a rel="follow" onclick="location.href='/lieferdienst-anmelden'">Lieferdienst anmelden</a></li>
                            <li><a rel="follow" href="/partnerprogramm">Partnerprogramm</a></li>
                            <li><a rel="follow" href="/jobs">Jobs</a></li>
                        </ul>
                    </div>

                    <div class="yd-footer-column">
                        <ul>
                            <li><a target="_blank" href="http://blog.lieferando.de/">Blog</a></li>
                            <li><a target="_blank" href="http://www.lieferando.tv/" rel="nofollow">lieferando.tv</a></li>
                            <li><a title="Informationen zu yourdelivery" href="/yourdelivery">yourdelivery</a></li>
                        </ul>
                    </div>

                </div>

                <div class="yd-footer-right">

                    <div class="yd-footer-title">Verbinde dich mit lieferando</div>

                    <div class="yd-footer-column">
                        <a rel="nofollow" target="_blank" class="yd-footer-facebook" href="http://www.facebook.com/lieferando">Like uns auf Facebook</a>
                        <a rel="nofollow" target="_blank" class="yd-footer-twitter" href="http://twitter.com/lieferando">Folge uns auf Twitter</a>
                        <a rel="nofollow" target="_blank" class="yd-footer-google" href="https://plus.google.com/114849467427479787318?prsrc=3">lieferando.de bei Google+</a>
                        <a rel="nofollow" target="_blank" class="yd-footer-xing" href="https://www.xing.com/companies/yd.yourdeliverygmbh">Unternehmensseite auf Xing</a>
                    </div>

                </div>

            </div>
        </div>

        <IFRAME SRC="http://img-cdn.mediaplex.com/0/18421/universal.html?page_name=footer&footer=1&mpuid=" HEIGHT=1 WIDTH=1 FRAMEBORDER=0></IFRAME>
        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://46.163.72.129/piwik1.5/" : "http://track.yourdelivery.de/piwik/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script><noscript><p><img src="http://track.yourdelivery.de/piwik/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->

    </body>
</html>
