<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="de" xml:lang="de" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="de" xml:lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" xml:lang="de" class="ie8"> <![endif]-->
<!--[if gt IE 8 ]> <html lang="de" xml:lang="de" class="ie9"> <![endif]-->
<!--[!IE]>   <!--> <html lang="de" xml:lang="de">         <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=1100">

        <title>Gelbe Seiten</title>

        <link rel="stylesheet" type="text/css" href="/media/css/gelbeseiten/gelbeseiten-core.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gelbeseiten/gelbeseiten-frontend-step3.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gelbeseiten/gelbeseiten-frontend-expansions.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gelbeseiten/gelbeseiten-frontend-jquery.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gelbeseiten/gelbeseiten-frontend-ie.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/gelbeseiten/gelbeseiten-frontend-hidden.css" />

        <script type="text/javascript" src="/media/javascript/compiled/frontend-{$REVISION}.js"></script>
        <script type="text/javascript" src="/media/javascript/gelbeseiten/jquery.easytabs.min.js"></script>
        <script>
	$(function() {
		$('#tab-container').easytabs();
	});
	</script>
     
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
        <div id="yd-container" class="yd-clearfix">
            <div id="yd-partner-header">
                <div class="yd-partner-logo"></div>
                <div class="yd-partner-description">
                    <h1>Chinaman Sushi & Co</h1>
                    <div class="yd-rated-09"></div>
                    <span class="ratingtext">ø 4,6 Sterne aus 669 Bewertungen</span>
                    <div class="fb-like" data-href="http://de-de.facebook.com/lieferando" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
                    <br/>
                    <p>Bier, Chinesisch, Entengerichte, Fischgerichte, Fleischgerichte, Japanisch, Mittagsmenüs</p>
                </div>
                <div class="yd-partner-info">
                    11.00 bis 14:30 und 17:30 bis 22:30<br/>
                    Mindestbestellwert: 6,90 € Lieferkosten: kostenlos
                </div>
                <div class="yd-partner-payment"></div>
            </div>
            <div id="yd-menu">
            </div>
            <div id="yd-partner-footer">
                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#tab1">über Lieferando</a></li>
                        <li class='tab'><a href="#tab2">Lorem Ipsum</a></li>
                        <li class='tab'><a href="#tab3">Dolo</a></li>
                    </ul>
                    <div id="tab1">
                        <h3>Lieferando – Ihre Vorteile</h3>
                        <ul class="yd-benefit">
                            <li>5.800 Lieferservices in Deutschland</li>
                            <li>Bequem bargeldlos bezahlen</li>
                            <li>Treuepunkte sammeln und sparen</li>
                        </ul>
                        <hr>
                        <p>
                            Lieferando bietet deutschlandweit eine Essens-Bestellplattform im Internet für Privatpersonen und Unternehmen an. Bei lieferando.de kann der 
                            Kunde das gewünschte Essen per Mausklick bestellen und bequem via PayPal, Kreditkarte, Sofort-überweisung oder Bar bezahlen.<br/><br/>
                        </p>
                        <p>
                            Auch über die neue iPhone App kann man Essen ordern und über die App bezahlen. Gesammelte Treuepunkte kann der Privatkunde gegen kostenlose 
                            Mahlzeiten einlösen. Im System sind aktuell die Speisekarten und Sortimente von einer Vielzahl von Restaurants, Lieferservices und anderen 
                            gastronomischen Dienstleistern erfasst.<br/><br/>
                        </p>
                        <p>
                            Unternehmen nutzen den kostenlosen Bestell- und Abrechnungsservice für Geschäftsessen, Catering, Getränke, Obst und Spätverpflegung und 
                            decken damit den gesamten Bedarf an Office-Verpflegung ab. Der Vorteil für Unternehmen liegt in der deutlichen Reduzierung des 
                            Buchhaltungsaufwandes, denn zahlreiche Spesenbelege der Mitarbeiter werden durch eine Sammelrechnung pro Monat ersetzt. Zu den Kunden 
                            des lieferando.de Lieferservice gehören DAX30-Unternehmen genauso wie Werbeagenturen, Banken, IT-Firmen, Anwaltskanzleien und Notare.
                        </p>
                    </div>
                    <div id="tab2">
                        <h3>Lieferando – Ihre Vorteile</h3>
                        <ul class="yd-benefit">
                            <li>5.800 Lieferservices in Deutschland</li>
                            <li>Bequem bargeldlos bezahlen</li>
                            <li>Treuepunkte sammeln und sparen</li>
                        </ul>
                    </div>
                    <div id="tab3">
                        <h3>Lieferando – Ihre Vorteile</h3>
                        <ul class="yd-benefit">
                            <li>5.800 Lieferservices in Deutschland</li>
                            <li>Bequem bargeldlos bezahlen</li>
                            <li>Treuepunkte sammeln und sparen</li>
                        </ul>
                    </div>
                </div>
                <div class="yd-controls">
                    <a href="#" class="left">zurück zu den Suchergebnissen</a>
                    <a href="#" class="right">zum Seitenanfang</a>
                </div>
                <div class="yd-footlinks">
                    <ul>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Nutzungsbedingungen</a></li>
                        <li><a href="#">Datenschutz</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
