<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="de" xml:lang="de" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="de" xml:lang="de" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="de" xml:lang="de" class="ie9"> <![endif]-->
<!--[!IE]>   <!--> <html lang="de" xml:lang="de">         <!--<![endif]-->
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

        <title>Test</title>

        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-core.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/www.lieferando.de/yd-home.css" />

        <script type="text/javascript" src="/media/javascript/compiled/frontend-{$REVISION}.js"></script>

    </head>
    <body>

        <div class="yd-wrapper">

            <div class="yd-header">
                <div class="yd-inner">

                    <div class="yd-logo"></div>

                    <div class="yd-login">
                        <a class="yd-login-button">Einloggen</a>
                        <a class="yd-login-register">Registrieren</a>

                        <div class="yd-login-dropdown"></div>
                    </div>

                </div>
            </div>

            <div class="yd-teaser">
                <div class="yd-inner">
                    <form>
                        <strong>Bestelle bei Deinem Lieblingslieferservice in Deiner Umgebung!</strong>
                        <input id="yd-plz-search" class="yd-only-nr yd-empty-text" type="text" name="plz" value="" title="Postleitzahl" />
                        <a id="yd-start-order" name="yd-start-order" href="">weiter</a>
                    </form>
                </div>
            </div>

            <div class="yd-content">
                <div class="yd-inner">2</div>
            </div>

        </div>

        <div class="yd-footer">
            <div class="yd-inner">3</div>
        </div>

    </body>
</html>
