                <div class="yd-dialogs"><a class="yd-dialogs-close"></a>

                    <div class="yd-dialogs-head">

                        <div class="yd-clearfix">

                            <input type="text" value="12" />

                            <span>
                                Pizza BBQ Chicken
                                <img title="{__('vegetarisch')}" src="{$domain_static}/images/yd-frontend-step3/menu-vegetarian.png" alt="" />
                                <img title="{__('mit Knoblauch')}" src="{$domain_static}/images/yd-frontend-step3/menu-garlic.png" alt="" />
                                <img title="{__('Bioware')}" src="{$domain_static}/images/yd-frontend-step3/menu-bio.png" alt="" />
                                <img title="{__('scharf gewürzt')}" src="{$domain_static}/images/yd-frontend-step3/menu-spicy.png" alt="" />
                            </span>

                            <span>5,90 €</span>

                        </div>

                        <small>
                            mit Beilagen... mit Beilagen... mit Beilagen... mit Beilagen... mit Beilagen... mit Beilagen... mit Beilagen...
                            mit Beilagen... mit Beilagen... mit Beilagen... mit Beilagen... mit Beilagen...
                        </small>

                    </div>

                    <div class="yd-dialogs-body">

                        <div class="yd-dialogs-box yd-dialogs-green">

                            <div class="yd-dialogs-box-head">
                                <span class="yd-dbh-number">1.</span>
                                <span class="yd-dbh-choose">Wähle jetzt dein Getränk</span>
                                <span class="yd-dbh-choise">Coca Cola</span>
                                <span class="yd-dbh-change">ändern</span>
                                <span class="yd-dbh-price">3,00 €</span>
                                <span class="yd-dbh-icon"></span>
                            </div>

                        </div>

                        <div class="yd-dialogs-box yd-dialogs-green">

                            <div class="yd-dialogs-box-head">
                                <span class="yd-dbh-number">2.</span>
                                <span class="yd-dbh-choose">Wähle jetzt dein Getränk</span>
                                <span class="yd-dbh-choise">Coca Cola</span>
                                <span class="yd-dbh-change">ändern</span>
                                <span class="yd-dbh-price">3,00 €</span>
                                <span class="yd-dbh-icon"></span>
                            </div>

                        </div>

                        <div class="yd-dialogs-box">

                            <div class="yd-dialogs-box-head">
                                <span class="yd-dbh-number">3.</span>
                                <span class="yd-dbh-choose">Wähle jetzt dein Getränk</span>
                                <span class="yd-dbh-choise">Pflichtauswahl</span>
                                <span class="yd-dbh-icon"></span>
                            </div>

                            <div class="yd-dialogs-box-body">

                                <ul class="yd-clearfix">
                                    <li>
                                        <input type="checkbox" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="checkbox" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="checkbox" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="checkbox" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="checkbox" /> Coca Cola 3,00 €
                                    </li>
                                </ul>

                            </div>

                        </div>

                        <div class="yd-dialogs-box">

                            <div class="yd-dialogs-box-head">
                                <span class="yd-dbh-number">4.</span>
                                <span class="yd-dbh-choose">Wähle jetzt dein Getränk</span>
                                <span class="yd-dbh-choise">Pflichtauswahl</span>
                                <span class="yd-dbh-icon"></span>
                            </div>

                            <div class="yd-dialogs-box-body">
                                <ul class="yd-clearfix">
                                    <li>
                                        <input type="radio" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="radio" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="radio" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="radio" /> Coca Cola 3,00 €
                                    </li>
                                    <li>
                                        <input type="radio" /> Coca Cola 3,00 €
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="yd-dialogs-comment">

                            <div class="yd-dialogs-comment-head">
                                <span>Bemerkung zur Bestellung schreiben</span>
                            </div>

                            <div class="yd-dialogs-comment-body hidden">
                                <textarea></textarea>
                            </div>

                        </div>
                        
                        <a class="yd-button-250">In den Warenkorb legen</a>

                    </div> <!-- /yd-dialogs-body -->

                </div> <!-- /yd-dialogs -->