<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="pt" xml:lang="pt" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt" xml:lang="pt" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt" xml:lang="pt" class="ie8"> <![endif]-->
<!--[if gt IE 8 ]> <html lang="pt" xml:lang="pt" class="ie9"> <![endif]-->
<!--[!IE]>   <!--> <html lang="pt" xml:lang="pt">         <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>{$config->domain->base}</title>
        <link rel="stylesheet" type="text/css" href="/media/css/compiled/frontend-{$extra_css|default:'no'}-{$REVISION}.css" />

        <meta name="robots" content="noindex,nofollow" />
        <script type="text/javascript" src="/media/javascript/compiled/frontend-sem.js"></script>

    </head>

    <body class="jnm-error">

        {include file='base_header.htm'}

        <div id="yd-fail">
            {if $APPLICATION_ENV == 'developemnt'}
            {$message}
            {/if}

            {include file='error/_base.htm'}

            {include file='order/_includes/plz.htm'}

        </div>

    </body>

</html>