<!DOCTYPE html>


    <!--[if lt IE 7 ]> <html lang="pt" xml:lang="pt" class="ie6"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="pt" xml:lang="pt" class="ie7"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="pt" xml:lang="pt" class="ie8"> <![endif]-->
    <!--[if gt IE 8 ]> <html lang="pt" xml:lang="pt" class="ie9"> <![endif]-->
    <!--[!IE]>   <!--> <html lang="pt" xml:lang="pt">         <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>{$config->domain->base}</title>
        <link rel="stylesheet" type="text/css" href="/media/css/compiled/frontend-{$extra_css|default:'no'}-{$REVISION}.css" />
        <script type="text/javascript" src="/media/javascript/compiled/frontend-sem.js"></script>

        <meta name="robots" content="noindex,nofollow" />

        {include file='_cookies/google/analytics.htm'}
        {if $trackGoogleEcomerce}
        {include file='_cookies/google/ecommerce.htm'}
        {/if}

    </head>

    <body class="jnm-error">

        {include file='base_header.htm'}

        <div id="yd-fail">
            <h1>{__("UUUPS!")}</h1>
            <h2>Lamento, mas não encontramos essa página!</h2>
            <p>
                Caso precise de ajuda entre em contato com o atendimento nós teremos o prazer em lhe ajudar:
                <strong><a href="mailto:{$config->locale->email->support}">{$config->locale->email->support}</a> - {__("Tel.: %s", $config->locale->areacodetel->support)}</strong>
            </p>

            {include file='order/_includes/plz.htm'}

        </div>

        {include file='_cookies/piwik/global.htm' uadomain=$domain_base}

    </body>

</html>