<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="7200" />
    <meta name="author" content="Janamesa Team" />
    <meta name="publisher" content="Janamesa Team" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />

    <meta name="robots" content="index,follow" />
    <meta name="description" content="Jánamesa você encontra o melhor delivery online de Pizzas, Massas, comida Japonesa com muita rapidez e facilidade, bem perto de você" />
    <meta name="keywords" content="delivery Online, comida, sushi, pizza, delivery, lanche" />
    <meta name="viewport" content="width=1100">
    <title>Janamesa - Delivery Online de Sushi, Pizza, Massa, etc..</title>


    <script type="text/javascript" src="/media/javascript/compiled/frontend-{$REVISION}.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/compiled/frontend-{$extra_css|default:'no'}-{$REVISION}.css" />
    {include file='_cookies/google/analytics.htm'}
</head>
<body class="home">
 <div class="container">
     {include file='base_header.htm'}
         <div class="mainContent">
             <div class="content">
             <div class="suggestions">
                 <table>
                     <tr>
                         <td colspan="4" class="title_category">
                             <span class="title_text">Especialidades</span>
                         </td>
                     </tr>
                     <tr>
                         <td onclick="parent.location='http://www.janamesa.com.br/kebab-a-domicilio';"><div class="category_1"><div class="category_mask_1"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/feijoada-delivery';"><div class="category_2"><div class="category_mask_2"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/comida-chinesa';"><div class="category_3"><div class="category_mask_3"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/tortas-delivery';"><div class="category_4"><div class="category_mask_4"></div></div></td>
                     </tr>
                     <tr>
                         <td onclick="parent.location='http://www.janamesa.com.br/comida-espanhola';"><div class="category_5"><div class="category_mask_5"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/comida-italiana';"><div class="category_6"><div class="category_mask_6"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/comida-japonesa';"><div class="category_7"><div class="category_mask_7"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/fast-food';"><div class="category_8"><div class="category_mask_8"></div></div></td>
                     </tr>
                     <tr>
                         <td onclick="parent.location='http://www.janamesa.com.br/comida-mexicana';"><div class="category_9"><div class="category_mask_9"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/pizzeria';"><div class="category_10"><div class="category_mask_10"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/restaurantes-frutos-do-mar';"><div class="category_11"><div class="category_mask_11"></div></div></td>
                         <td onclick="parent.location='http://www.janamesa.com.br/salada-delivery';"><div class="category_12"><div class="category_mask_12"></div></div></td>
                     </tr>
                 </table>
                 <div class="district">
                     <div class="head-district">
                         <span>Bairros</span>
                     </div>
                     <div class="body-district">
                         <div class="wrapper-photo-district">
                             <div class="col-item">
                                 <div class="photo-district paper-img">
                                     <div class="inner-photo-district">
                                         <img src="/media/css/www.janamesa.com.br/images/site-img/city273x180.jpg" alt="São Paulo" title="São Paulo" />
                                         <div>São Paulo</div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-item">
                                 <ul class="col-item list-ci">
                                     <li><a href="servico-de-entrega-sao-paulo-01305-000" title="Bela Vista">Bela Vista</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-04616-002" title="Campo Belo">Campo Belo</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-01233-000" title="Consolação">Consolação</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-04532-010" title="Itaim Bibi">Itaim Bibi</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-01415-000" title="Jardins">Jardins</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-01543-000" title="Liberdade">Liberdade</a></li>
                                 </ul>
                                 <ul class="col-item list-ci">
                                     <li><a href="servico-de-entrega-sao-paulo-04524-002" title="Moema">Moema</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-05045-020" title="Perdizes">Perdizes</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-05435-050" title="Pinheiros">Pinheiros</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-01006-030" title="Sé">Sé</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-05413-011" title="Vila Madalena">Vila Madalena</a></li>
                                     <li><a href="servico-de-entrega-sao-paulo-04077-020" title="Vila Mariana">Vila Mariana</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>



             <div class="col-right">
                 <div class="menu pagecom"><img src="/media/images/jnm-frontend/col-right/paguecom.png" /></div>
                 <div class="menu"><a href="https://www.facebook.com/Janamesa.delivery"><img src="/media/images/jnm-frontend/col-right/socializando.png" /></a></div>
                 <div class="menu"><a href="http://www.janamesa.com.br/contact"><img src="/media/images/jnm-frontend/col-right/ajuda.png" /></a></div>
                 <div class="facebook">
                     <script src="http://connect.facebook.net/{$config->locale->name}/all.js#xfbml=1"></script>
                     <fb:like-box profile_id={$config->facebook->page_id}" connections="8" stream="0" width="300" height="290" logobar="0"></fb:like-box>
                 </div>
             </div>
             </div>

         </div>

     </div>
         {include file="jnm_base_footer.htm"}
 </div>
 {if $config->google->conversion}
     {include file='_cookies/google/adwords.htm'}
 {/if}
</body>

</html>