<div id="wrapper-header" class="blue">
    <div class="header-bg">
        <div class="yd-header">
            <div class="yd-inner">
                <a class="yd-logo" href="/"><img src="/media/images/jnm-frontend/logonatal.png" title="jáNAMESA" alt="jáNAMESA" /></a>
                
                <div class="yd-login">                           	
                    {include file='_header/login.htm'}                             
                </div>
                
                <div class="wrapper-plz-br hidden">
                	<h3>Está com fome ?</h3>
                    <h4>Peça sua<br> comida preferida<br>online</h4>
               		{include file='order/_includes/plz.htm'}
                </div>
                
                <div class="wrapper-benefits-block hidden">
                    <div class="benefits-block">
                        <div class="inner-benefits-block">
                            <p>Pague no cartão ou a vista</p>
                            <p>Pizza, Sushi e muito mais</p>
                            <p>Ganhe pontos de fidelidade</p>
                            <p>Sem nenhum custo extra</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <div class="bottom-bg"></div>
</div>
