<div class="footer_efect"></div>
<div id="footer">
    <div class="footer-inner">
        <ul class="navigation-footer">
            <li class="col-item">
                <ul>
                    <li><a href="/about-customer" title="Sobre Jánamesa">Sobre Jánamesa</a></li>
                    <li><a href="/customer-terms" title="Termos para consumidores">Termos para consumidores</a></li>
                    <li><a href="/jobs" title="Trabalhe conosco">Trabalhe conosco</a></li>
                </ul>
            </li>
            <li class="col-item">
                <ul>
                    <li><a href="/about-restaurants" title="Jánamesa para restaurantes">Jánamesa para restaurantes</a></li>
                    <li><a href="/restaurant-terms" title="Termos para restaurantes">Termos para restaurantes</a></li>
                    <li><a href="/contact" title="SAC">SAC</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>