* {
    margin:0;
    padding:0;
    font-family: Museo300;
}

a {
    text-decoration: none;
    cursor:pointer;cursor:hand;
    border:medium none;
}

html {
    background-color: #F3F3F3;

}
body.home, body.jnm-error, body.yd-index-page {
    background-color: #F3F3F3;
    *overflow-x: hidden;
    _overflow-x: hidden;
}

img {
    border:medium none;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: KGLoveYouThroughItRegular;
    src: url('/media/css/www.janamesa.com.br/fonts/kgloveyouthroughit.eot');
    src: url('/media/css/www.janamesa.com.br/fonts/kgloveyouthroughit.eot?#iefix') format('embedded-opentype'), url('/media/css/www.janamesa.com.br/fonts/kgloveyouthroughit.woff') format('woff'), url('/media/css/www.janamesa.com.br/fonts/kgloveyouthroughit.ttf') format('truetype'), url('/media/css/www.janamesa.com.br/fonts/kgloveyouthroughit.svg#KGLoveYouThroughItRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Museo700;
    src: url('/media/css/www.janamesa.com.br/fonts/museo700-regular.eot');
    src: url('/media/css/www.janamesa.com.br/fonts/museo700-regular.eot?#iefix') format('embedded-opentype'), url('/media/css/www.janamesa.com.br/fonts/museo700-regular.woff') format('woff'), url('/media/css/www.janamesa.com.br/fonts/museo700-regular.ttf') format('truetype'), url('/media/css/www.janamesa.com.br/fonts/museo700-regular.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Museo300;
    src: url('/media/css/www.janamesa.com.br/fonts/museo300-regular.eot');
    src: url('/media/css/www.janamesa.com.br/fonts/museo300-regular.eot?#iefix') format('embedded-opentype'), url('/media/css/www.janamesa.com.br/fonts/museo300-regular.woff') format('woff'), url('/media/css/www.janamesa.com.br/fonts/museo300-regular.ttf') format('truetype'), url('/media/css/www.janamesa.com.br/fonts/museo300-regular.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f2f2f2;
    min-width: 1020px;
}

.header, .headerLanding {
    text-align: left;
}

.container .header, .container .headerLanding {
    background-color: black;
}

div.headerBanner div.contentHeader {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

div.headerBanner div.logoJanamesa img {
    z-index: 90;
}


div.headerBanner div.logoJanamesa {
    height: 50px;
    width: 100px;
    float: left;
}

.satellite div.headerBanner div.logoSatellite img {
    z-index: 90;
}


.satellite div.headerBanner div.logoSatellite {
    display: inline;
    float: left;
    height: 125px;
    margin: 30px 0 0 40px;
    width: 125px;
}

div.headerBanner div.cep {
    height: 50px;
    width: 100px;
    float: right;
}

div.headerBanner div.acesso {
    float: right;
    font-family: helvetica;
    font-size: 13px;
    height: 20px;
    margin-top: 17px;
    width: 450px;
}

div.headerBanner div.acesso div.cadastrar {
    color: white;
    margin: 4px 10px;
    float: left;
}

div.headerBanner div.acesso div.entrar {
    color: white;
    margin: 4px 18px;
    float: left;
    position: relative;
    z-index: 1;
}

div.headerBanner div.acesso div.facebook {
    color: white;
    margin: 0 10px;
    float: left;
    margin: 0px 18px 0 65px;
}

div.headerBanner div.entrar_modal {
    background-image: url("/media/images/jnm-frontend/entrar.png");
    height: 140px;
    margin-left: 115px;
    _margin-left: 70px;
    *margin-left: 70px;
    padding: 60px 32px 8px;
    _padding: 60px 32px 25px;
    *padding: 60px 32px 25px;
    position: absolute;
    _position: relative;
    *position: relative;
    top: -2px;
    _top: -45px;
    *top: -45px;
    width: 234px;
    z-index: 9;
}

div.headerBanner div.entrar_modal form ul {
    maring: 0px;
    padding:0 6px;
}

div.headerBanner div.entrar_modal form ul li {
    margin: 0 0 4px 0;
    padding: 4px;
}

div.headerBanner div.entrar_modal form ul li.naked {
    border:0;
    padding:0;
    background-color: transparent;
}

div.headerBanner div.entrar_modal form ul li input {
    height: 30px;
    width: 220px;
    _padding-top: 5px;
    *padding-top: 5px;
}

input, textarea {
    border: 0;
    width: 99%;
}

input.submitLogin {
    background: url("/media/images/jnm-frontend/btnheader2.png") repeat scroll 0 0 transparent;
    color: white;
    font-family: museo300;
    height: 31px;
    padding: 6px;
    width: 220px;
}

div.banner, div.bannerLanding {
    width: 100%;
    height: 675px;
}

div.bannerLanding div.headerBanner,div.banner div.headerBanner {
    background-image: url("/media/images/jnm-frontend/transparencia_header.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 55px;
    background-position: center top;
    position: relative;
    text-align: center;
}

div.footerBanner {
    background-image: url("/media/images/jnm-frontend/divisor_home.png");
    background-position: center center;
    height: 35px;
    margin-top: -29px;
    width: 100%;
    position: relative;
    margin-bottom: -5px;
    background-repeat: repeat-x;
}


div.container div.mainContent div.content {
    height: 850px;
    margin: 5px auto auto;
    width: 925px;
    padding-top: 20px;
}

div.mainContent {
    _text-align: center;
    *text-align: center;
}

div.col-right {
    float: left;
    height: 100%;
    width: 330px;

}

div.col-right div.menu {
    width: 100%;
}

div.col-right div.menu_faleconosco {
    margin-left: 17px;
    width: 295px;
}

div.col-right div.pagecom {
    margin:5px 14px;
}

div.col-right div.facebook {
    height: 290px;
    margin: 20px 0 0 19px;
    width: 280px;
}

div.bannerLanding div.headerBanner div.box_header, div.banner div.headerBanner div.box_header {
    background: url("/media/images/jnm-frontend/bgboxheader.png") no-repeat scroll 0 0 transparent;
    color: white;
    font-family: museo700;
    font-size: 26px;
    height: 270px;
    margin: 240px 0 0 60px;
    padding: 30px 0 0 42px;
    position: absolute;
    width: 860px;
    text-align: left;
}

.wrapper-plz-br #yd-start-order-form #br-cep-autocomplete{
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    display: inline-block;
    white-space: nowrap;
    margin: 7px 60px 0 60px;
}

.yd-register .yd-register-form .yd-form-wrapper #br-cep-autocomplete{
    position: relative;
    top: -5px;
    left: 0;
    margin: 0 0 0 5px;
    font-size: 12px;
}

div.bannerLanding div.headerBanner div.box_fake, div.banner div.headerBanner div.box_fake {
    margin: 175px 0 0;
    position: absolute;
}

div.bannerLanding div.input_cep .findRestaurant, div.banner div.input_cep .findRestaurant {
    background: url("/media/images/jnm-frontend/btnheader.png") repeat scroll 0 0 transparent;
    color: white;
    font-size: 18px;
    height: 48px;
    margin: 0 0 0 7px;
    padding-left: 29px;
    width: 263px;
    cursor:pointer;cursor:hand;
}

div.bannerLanding div.input_cep .cep, div.banner div.input_cep .cep {
    border: 2px solid black;
    font-size: 17px;
    _font-size: 19px;
    *font-size: 19px;
    height: 43px;
    text-align: center;
    width: 257px;
    _padding-top: 10px;
    *padding-top: 10px;
    z-index: 0;
}

div.bannerLanding div.input_cep, div.banner div.input_cep {
    margin: 9px 0 0;
    float:left;
}

#footer {
    background: url("/media/images/jnm-frontend/footer_pattern.png") repeat scroll 0 0 transparent;
    height: 200px;
    _text-align: center;
    *text-align: center;
}

div.footer_efect {
    background: url("/media/images/jnm-frontend/footer.png") repeat scroll 0 0 transparent;
    height: 50px;
}

#footer .footer-inner {
    width: 1000px;
    margin: 0 auto;
}

#footer .footer-inner .navigation-footer .col-item {
    float: left;
    margin-left: 60px;
    _text-align: left;
    *text-align: left;

}

#footer .footer-inner .navigation-footer .col-item ul li{
    margin-top: 10px;
    color: white;

}

#footer .footer-inner .navigation-footer {
    padding-top: 40px;
}

.iphone {
    float: left;
    margin: -175px 0 0 24px;
    height: 251px;
    position: relative;
}

.buscarCep {
    cursor:pointer;cursor:hand;
    font-size: 10px;
    text-align: center;
    width: 255px;
}
.buscarCep:hover {
    text-decoration: underline;
}

.buscarCep a {
    color: white;
}

.suggestions td {
    cursor:pointer;cursor:hand;
}
.body-district a {
    color:#000;
}

.cadastrar a, #footer li a {
    color:#fff;
}

#yd-fail a {
    color: #000;
}


div.mainContent {
    background-color: #F3F3F3;
    margin-top: 0px;
    position: relative;
}


#yd-fail {
    position: relative;
    width: 500px;
    padding: 0 0 0 300px;
    margin: 50px auto 0;
    background: url(/media/images/yd-background/yd-error.gif) no-repeat;
}

#yd-fail h1 {
    font: 42px FuturaCondensedMedium, "trebuchet ms", arial, "nimbus sans l", sans-serif;
}

#yd-fail h2 {
    font: 24px FuturaCondensedMedium, "trebuchet ms", arial, "nimbus sans l", sans-serif;
    color: #999;
}

#yd-fail p {
    margin: 15px 0;
    font-size: 14px;
}

#yd-fail p strong {
    display: block;
    font-weight: normal;
    margin: 5px 0 0;
}

#yd-fail h3 {
    position: absolute;
    top: 180px;
    left: 298px;
    width: 480px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}

#yd-fail #yd-plz-search {
    position: absolute;
    top: 195px;
    left: 295px;
    width: 200px;
    height: 45px;
    line-height: 45px;
}

#yd-fail .yd-button-280 {
    position: absolute;
    top: 194px;
    left: 502px;
    font-size: 20px;
}

.yd-index-page .container {
    text-align: center;
}

#LiveChat_1342624305 {
    margin-left: -13px;
}

.fb_iframe_widget {
    margin-left: 10px;
}

.jnm-mesg-error {
    
}

div.jnm-bg-cinza {
    background-color: #F8F8F8;
}
div.jnm-bg-claro{
    background-color: #e5e5e5;
}

.menu-box div.td {
    border-bottom: 0 solid #D1C8B5;
}

#static_menu {
    background: url("/media/images/jnm-frontend/bg_header.png") repeat-x scroll center 0 transparent;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    opacity: 0;
    
}

#static_menu .jnm_menu_static {
    height: 101px;
    margin: 0 auto;
    width: 1000px;
}

.yd-service-container form ul.yd-service-select li.yd-service-open-in,
.yd-menu-detail ul li.yd-service-open-in,
.yd-service-container form:hover ul.yd-service-select li.yd-service-open-in {
    color:#DC0601;
    padding-bottom: 10px;
    background: url("/media/css/www.janamesa.com.br/images/clock-img-closed.png") no-repeat scroll 4px 0 transparent;
}

#yd-finish-order-form {
    margin-top: 20px;
}

#static_menu .finish-button {
    background: url("/media/css/www.janamesa.com.br/images/btns-bg.png") no-repeat scroll 0 0 transparent;
    width: 260px;
    font-size: 20px;
}
#static_menu .finish-div-static {
    float: right;
    margin: 10px 26px 0 0;
    width: 260px;
}

#jnm-full-amount {
    background: url("/media/css/www.janamesa.com.br/images/paper.png") repeat scroll 0 0 transparent;
    color: #127F00;
    display: block;
    float: right;
    font-size: 22px;
    line-height: 30px;
    margin: 13px 20px 13px 0;
    padding: 15px 15px 15px 0;
    text-align: right;
    width: 180px;
}

#jnm-full-amount:before {
    background: url("/media/css/www.janamesa.com.br/images/paper-top.png") repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 10px;
    margin-top: -18px;
    position: static;
    width: 195px;
}
#jnm-full-amount:after {
    background: url("/media/css/www.janamesa.com.br/images/paper-bottom.png") repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 10px;
    margin-bottom: -23px;
    position: static;
    width: 195px;
}

#jnm-full-amount-value {
    font-family: KGLoveYouThroughItRegular,Helvetica,Verdana,Arial,sans-serif;
    margin-left: 10px;
}

.yd-sv3.new:before {
    background: url("http://cdn.yourdelivery.de/images/yd-frontend-step2/yd-sv3-new-de.png") repeat scroll 0 0 transparent;
}
.yd-sv3.new:before {
    content: "";
    display: block;
    height: 57px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 57px;
    z-index: 10;
}

.bb .yd-sv3-1:after {
    background: url("http://cdn.yourdelivery.de/images/yd-frontend-step2/badge-bloomsburys.png") repeat scroll 0 0 transparent;
}

.pr .yd-sv3-1:after {
    background: url("http://cdn.yourdelivery.de/images/yd-frontend-step2/badge-premium.png") repeat scroll 0 0 transparent;
}

.bb .yd-sv3-1:after, .pr .yd-sv3-1:after {
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 90px;
}

