#slideshow {
    position:relative;
    height: 0px;
    z-index: 0;
}

#slideshow LI {
    position:absolute;
    top:0;
    z-index:1;
    overflow: hidden;
    width: 100%;
}

#slideshow li img {
    left:50%;
    margin-left: -800px;
    position: relative;
    overflow: hidden;
}

#slideshow LI.active {
    z-index:3;
}

#slideshow LI.last-active {
    z-index:2;
}

.seletor .left {
    height: 10px;
    float: left;
    margin-left: 20px;
}

.seletor .right {
    height: 10px;
    float: right;
    margin-right: 20px;
}

.seletor {
    position: absolute;
    top: 360px;
    width: 100%;
}