.ie7 #yd-ordering .yd-box{
	border: 0 none!important;	
}

.br-box .yd-box{
	margin: 0;
}

.ie7 .br-box .yd-box{
	border: 0 none!important;
}

.yd-account-priv, .yd-account-comp{
	clear: none;
    cursor: pointer;
    float: left;
    left: 0;
    margin: 20px 0 0;
    min-height: 40px;
    padding: 0 0 0 40px;
    position: relative;
    top: 0;
    width: 278px;
	font-family: Helvetica,Verdana,Arial,sans-serif;
    font-size: 22px;
	color: #3E3935;
	text-decoration: none;
	background: url(/media/css/www.janamesa.com.br/images/radio12-img.png) 10px 6px no-repeat transparent;
}

.yd-account-priv i, .yd-account-comp i{
	color: #757372;
    display: block;
	width: 100%;
	font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
	font-style: normal;
}

.yd-account-priv.active, .yd-account-comp.active{
	background: url(/media/css/www.janamesa.com.br/images/radio12-checked-img.png) 10px 6px no-repeat transparent;
}

.br-address{
	display: inline-block;
	width: 100%;
}

.br-address .is-address .yd-adress{
	display: inline-block;
	width: 600px;
	padding: 20px;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
	cursor: pointer;
}
.br-address .is-address .yd-adress *{
	cursor: pointer;
}
.br-address .is-address .yd-adress:hover{
	background: url(/media/css/www.janamesa.com.br/images/yd-service-hover.png);
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
}
.br-address .is-address .yd-adress div{
	padding: 0 80px 0 30px;
	position: relative;
	top: 0;
	left: 0;
	min-height: 56px;
	background: url(/media/css/www.janamesa.com.br/images/radio-img.png) no-repeat 0 5px transparent;
	color: #3E3935;
	font-size: 22px;
	font-family: Helvetica,Verdana,Arial,sans-serif;
}
.br-address .is-address .yd-adress:hover div{
	color: #fff;
}
.br-address .is-address .yd-adress.active div{
	background: url(/media/css/www.janamesa.com.br/images/radio-checked-img.png) no-repeat 0 5px transparent;
}
.br-address .is-address .yd-adress div i{
	display: inline-block;
	width: 100%;
	font-family: Georgia,"Times New Roman",Times,serif;
	color: #757372;
	font-size: 16px;
	font-style: normal;
}
.br-address .is-address .yd-adress:hover div i{
	color: #e0e000;
}
.br-address .is-address .yd-adress div a{
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 35px 7px 0 0;
	background: url(/media/css/www.janamesa.com.br/images/edit2-img.png) no-repeat center top transparent;
	text-align: center;
	font-size: 13px;
	color: #c76856;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
.br-address .is-address .yd-adress:hover div a{
	color: #a6a4a2;
}
.br-address .yd-bigbox-head #yd-add-address,
.br-address .yd-bigbox-head .yd-add-caddress{
	display: none;
}
.br-address .yd-bigbox-body{
	padding: 15px 0;
}
.br-address .yd-bigbox-body.is-address{
	padding: 15px 0 19px 0;
	background: url(/media/css/www.janamesa.com.br/images/strip-rw-block.png) repeat-x scroll left bottom transparent;
}
.br-address .yd-bigbox-body p{
	margin: 30px 0 0 0;
}
.br-address .yd-bigbox-body #yd-add-address, .br-address .yd-bigbox-body .br-add-address{
	display: inline-block;
	height: 49px;
	line-height: 46px;
	padding: 0 15px;
	margin: 15px 0 0 0;
	color: #ffffff;
	font-family: Museo700, Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
	text-shadow: 0 1px 0 #000000;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
	width: 343px;
	vertical-align: middle;
	text-align: center;
	background: url(/media/css/www.janamesa.com.br/images/btns-bg.png) no-repeat scroll 0 -196px transparent;
	text-transform: uppercase;
	overflow: hidden;
}
#yd-start-order{
	display: inline-block;
	height: 49px;
	line-height: 46px;
	padding: 0 10px;
	margin: 18px 0 0 0;
	color: #ffffff;
	font-family: Museo700, Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
	text-shadow: 0 1px 0 #000000;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
	width: 242px;
	vertical-align: middle;
	text-align: center;
	border: 0 none;
	float: left;
	background: url(/media/css/www.janamesa.com.br/images/btns-bg.png) no-repeat scroll 0 -147px transparent;
}
#yd-add-address.br-btn1748, .yd-adress.yd-add-caddress.br-btn1748{
	float: left;
	margin: 3px 0 0 20px;
}
.br-address .yd-bigbox-body #yd-add-address:hover, .br-address .yd-bigbox-body .br-add-address:hover{
	text-decoration: underline;
}

