.br-red #wrapper-header.blue, 
.br-red #wrapper-header .bottom-bg, 
.br-red .yd-header, 
.br-red .yd-header .yd-inner { 
    background: none !important;
}

.br-red {
    background: url(/media/css/www.janamesa.com.br/images/bg-header-red.jpg) center 0 repeat #a03000 !important;
}

.br-red .wrapper-plz-br {
    margin: 30px 0 0 !important;
    background: url(/media/css/www.janamesa.com.br/images/bg_cep_neutral.png) no-repeat scroll 0 0 transparent !important;
}

.br-red #yd-content {
    padding-bottom: 40px !important;
}

.yd-br-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: url(/media/css/www.janamesa.com.br/images/bg-header-bt.png) center 0 repeat-x transparent;
    z-index: 1;
}

.yd-top-image{
    margin: -30px 0 0 430px;
}

.yd-slider-image{
    margin: 10px 0 0 392px;
}

#slides ul, #slides li{
    margin:0;
    padding:0;
    list-style:none;
}
#slides, #slides li{ 
    width: 620px;
    height: 260px;
    overflow: hidden; 
}

.yd-sidebar-box {
    width: 295px;
    margin: 20px 0 0 40px;
}

#yd-footer-red {
    text-align: center;
}