{extends file='satellite/_base_start.htm'}

{block name="content"}
<div id="flash">
    <div id="yd-satellite-gallery">

        {foreach from=$satellite->getRandomPictures() item=pic}
        <img src="{$pic}" alt="" title="" />
        {/foreach}

    </div>

    <a href="{if $preview}/satellite/menu/id/{$satellite->getId()}{else}/menu{/if}" class="order_box">

        <h1>{$satellite->getDynamicText()|default:__("Essen online Bestellen.")}</h1>

        <i>{__("Jetzt online bestellen.")}</i>
    </a>

    <div class="clear"></div>

</div>

<div id="info">
    <h2>{__("Essen online bestellen bei %s.", $service->getName())}</h2>
</div>

<div class="yd-service_info yd-box clearfix">
    <div class="yd-box-head_2">
        <table>
            <tr>
                <td class="left">{__('Öffnungszeiten')}</td>
                <td class="right">{__('Mindestbestellwert und Liefergebiete in %s', $satellite->getService()->getOrt()->getOrt())}</td>
            </tr>
        </table>
    </div>

    <table class="left">
        {$this->formatOpeningsMerged($satellite->getService()->getOpening()->getIntervals(strtotime('today'), strtotime('+7 days')))}
    </table>

    <table class="right">
        {foreach from=$ranges key=cost item=range}
        <tr>
            <td><b>{__('%s €', $cost|inttoprice)}:</b></td>
            <td><iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=MAP&amp;q=select+col0+from+1RIF3JUuHHzUEG10pJ7tjqi_CNTH63rvaV5xB7E0&amp;h=false&amp;lat=-23.515987147144035&amp;lng=-46.4935647685669&amp;z=12&amp;t=1&amp;l=col0&amp;y=2&amp;tmplt=2"></iframe></td>
        </tr>
        {/foreach}
    </table>
</div>

{foreach from=$satellite->getPictures() item=pic}
    <div class="box_img_text clearfix">

        {if $pic->getPicture()}
        <img class="text_box_img" alt="" src="{$pic->getPicture()}" />
        {/if}

        <div class="text_box2">
            <p>{$pic->getDescription()|nl2br}</p>
        </div>

    </div>
{/foreach}

{/block}
