{if $order->getService()->getBestseller()->count() > 0}
    <div class="yd-box">
        <div class="yd-box-head" id="yd-expand-propose-meal-head">
            <img src="{$domain_static}/images/yd-icons/star.png" alt="" />
            <span class="tooltip" title="{__('Hier werden Ihre Lieblingsgerichte gezeigt.')}">{__('Am meisten gekauft')}</span>
        </div>
        <div class="yd-box-body" id="yd-expand-fav-propose">
            <ul id="yd-propose-meal-sidebar-box">
                {assign var=count value=0}
                {foreach from=$order->getService()->getBestseller() item=meal}
                    {if $meal->producedBy() && $meal->producedBy()->getId() == $order->getService()->getId()}
                        <li class="yd-propose-meal" id="yd-propose-{$meal->getId()}">
                            <em class="tooltip" title="{$meal->getDescription()|default:{__('keine Beschreibung vorhanden')}}"><strong>{$meal->getName()}</strong></em>
                            <a class="yd-add-meal-from-favourite tooltip" id="yd-add-meal-from-favourite-{$meal->getId()}" title="{__('Fügen sie ihren Favoriten zur Bestellung hinzu')}">&gt;&gt;</a>
                        </li>
                    {/if}
                {/foreach}
            </ul>
        </div>
    </div>
{/if}