{if $domain_base == 'lieferando.de'}
    <div class="yd-box-head yd-float-head cursor" id="yd-expand-premium-head">
        <a class="yd-plus" id="yd-expand-premium-plus"></a>
        <a class="yd-minus" id="yd-expand-premium-minus"></a>
        {__('Restaurant Lieferservice')}<br />
        <small>{__('Jetzt bei unseren exklusiven Restaurants in Berlin und Frankfurt bestellen!')}</small>
    </div>
    <div class="yd-box-body yd-float-body" id="yd-expand-premium-body" >
        {__('Wir bieten Ihnen jetzt die einzigartige Möglichkeit bei den besten Restaurants in Berlin und Frankfurt a.M. zu bestellen.')}
        <br /><br />
        {__('Wir holen die Speisen für Sie direkt aus den Restaurants ab und liefern sie schnell und zuverlässig zu Ihnen!')}
    </div>
{/if}