<div class="yd-box">
    <div class="yd-box-head" id="yd-expand-feedback-head">
        <a href="#" id="yd-expand-feedback-plus" class="yd-plus"></a>
        <a href="#" id="yd-expand-feedback-minus" class="yd-minus"></a>
        <span class="tooltip" title="{__('Senden Sie uns Ihre Meinung.')}">{__('Feedback')}</span>
    </div>

    <div class="yd-box-body" id="yd-expand-feedback">
        <ul>
            <li class="feedback yd-feedback-input"><textarea cols="25" rows="10" class="yd-feedback-text-edit" id="yd-feedback-text">{__('Verbesserungsvorschläge, Kommentare oder Kritik')}</textarea></li>
            <li class="feedback yd-feedback-input"><input class="button" id="yd-feedback-send" type="button" value="{__('Feedback abschicken')}" /></li>
            <li class="feedback yd-feedback-thx" style="display:none;">{__('Wir bedanken uns für Ihr Feedback.')}</li>
        </ul>
    </div>
</div>
