<ul class="{$ul_classes}">

    {if $service->useTopseller()}
        <!-- check for topsellers -->
        {if $mode == 'rest'}
            {if count($service->getBestseller(10)) > 0}
                <li>
                    <a href="#" class="food_side" id="cat-0-side-0-{$postfix}">
                        <span class="{$a_classes} category-lenght-toggle-truncate">{__('Topseller')}</span>
                    </a>
                </li>
            {/if}
        {/if}
    {/if}

    <!-- iterate through all available parents -->
    {foreach key=parentId from=$parents key=parentId item=parent}
        <li>
            <a href="#" class="{$a_classes} food_side category-lenght-toggle parent {if $parent.main}category-main{/if}" id="cat-0-side-{$parentId}-{$postfix}">
                {if $config->domain->base != "eatstar.de"}
                    <span class="category-lenght-toggle-truncate">{$parent.name|truncate:20:"..."}</span>
                    {if strlen($parent.name)>20}
                        <span class="category-lenght-toggle-full" style="display:none;">{$parent.name}</span>
                    {/if}
                {else}
                    {$parent.name}
                {/if}
            </a>
        </li>
    {/foreach}

    {foreach from=$menu key=catId item=category name=catsside}
        <!-- we list only parent categories and those without any -->
        {if $category.parent <= 0}
            <li>
                <a href="#" class="{$a_classes} food_side category-lenght-toggle {if $category.main}category-main{/if}" id="cat-{$catId}-side-0-{$postfix}">
                    {if $config->domain->base != "eatstar.de"}
                        <span class="category-lenght-toggle-truncate">{$category.name|truncate:20:"..."}</span>
                        {if strlen($category.name)>20}
                            <span class="category-lenght-toggle-full" style="display:none;">{$category.name}</span>
                        {/if}
                    {else}
                        {$category.name}
                    {/if}
                </a>
            </li>
        {/if}
    {foreachelse}
        <li class="no-meals-found">{__('keine Kategorien gefunden')}</li>
    {/foreach}
</ul>

{if $list_children}
<!-- down here, we list all the children -->
<div class="yd-menu-nav2 hidden">
    <ul class="yd-clearfix">
        {foreach name=o from=$menu key=catId item=category name=catsside}
            {if $category.parent > 0}
                <li class="yd-category-children yd-category-children-{$category.parent} hidden">
                    <a href="#" class="food_side yd-category-children yd-category-children-{$category.parent}" id="cat-{$catId}-side-0-parent-{$category.parent}-{$postfix}">
                        {$category.name}
                    </a>
                </li>
            {/if}
        {/foreach}
    </ul>
</div>
{/if}