<div class="yd-dialogs"><a class="yd-dialogs-close yd-go-back"></a>

    <div class="yd-dialogs-head">
        <h2>{__('Bei %s bestellen', $service->getName())}</h2>
    </div>

    <div class="yd-lightbox-content-container">

        <form id="yd-select-plz-form" action="">

            <div style="text-align: center; background: #ffe; border: 1px solid #999; padding: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; outline: 0; margin: 0 auto;">
                <label for="cityId">
                    {if isset($cityIds) && !count($cityIds)}
                    {__('Dein Liefergebiet wurde nicht gefunden, bitte wähle ein anderes:')}
                    {else}
                    {__('Bitte wähle Dein Liefergebiet:')}
                    {/if}
                </label>

                <br /><br />
                <input type="hidden" name="cityId" value="" />
                <input type="text" class="yd-plz-autocomplete yd-plz-autocomplete-autosubmit yd-only-nr yd-empty-text ui-autocomplete-input yd-only-priv yd-autocomplete-value[service[{$service->getId()}]]" name="plz" value="" />
            </div>

            <div class="yd-lightbox-buttons">
                <input type="button" value="{__('Abbrechen')}" class="button yd-go-back" />
            </div>
            
        </form>
    </div>
</div>
