<!DOCTYPE html>
<html>
    <head>
        <title>PLACAR DA META JANAMESA</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script>
            var timeout = setTimeout("location.reload(true);",60000);
        </script>
    </head>
    <body style="background-color:black;">
        <div style="color: white;font-size: 30px;padding-left: 50px;padding-top: 43px;">Meta geral até o fim do mês de Maio <strong>50.000 PEDIDOS</strong></div>
        <div style="color: white;font-size: 100px;padding-left: 50px;padding-top: 43px;">FALTAM:</div>
        <div style="color:red;font-size: 400px;text-align: center;">{50000 - $b}</div>
        <div style="color: white;">Valor que deve ser alcançado para hoje: {$c}</div>
    </body>
</html>
