

<div id="howto-lightbox" >
    <span id="howto-lightbox-close" class="yd-dialogs-close"></span>
    <h1>{__('So funktioniert das Bestellen:')}</h1>

    <div class="howto-steps">

        <div class="howto-step1">
            <b></b>
            <span class="howto-heading">{__('1. Lieferservice wählen')}</span>
            <span class="howto-text">
                {__('Einfach ein Lieferservice nach besten Bewertungen oder Länderküche auswählen.')}
                <a class="howto-more">{__('Mehr Infos')}</a>
                <br /><br />
                <span class="howto-more-text">
                    {__('Natürlich kannst du auch nach anderen Kriterien filtern. Guck einfach worauf du zu Essen Lust hast.')}
                </span>
                <a class="howto-less">{__('Weniger Infos')}</a>
            </span>
        </div>

        <span class="arrow-gray"></span>

        <div class="howto-step2">
            <b></b>
            <span class="howto-heading">{__('2. Essen auswählen')}</span>
            <span class="howto-text">
                {__('Worauf hast du Hunger? Egal ob Chicken Curry, Sushi oder Pizza Salami, einfach auf die gewünschte Speise klicken und in den Warenkorb tun.')} 
                <a class="howto-more">{__('Mehr Infos')}</a>
                <span class="howto-more-text">
                    {__('Wir haben über 750.000 Speisen auf %s, da ist bestimmt auch etwas für dich dabei. Du kannst auch schon auf diesem Schritt oben rechts nach deinem Lieblingsgericht suchen.', $config->domain->base)} 
                </span>
                <a class="howto-less">{__('Weniger Infos')}</a>
            </span>
        </div>

        <span class="arrow-gray"></span>

        <div class="howto-step3">
            <b></b>
            <span class="howto-heading">{__('3. Bestellung wird übermittelt')}</span>
            <span class="howto-text">
                {__('Wir übermitteln deine Bestellung per Fax, Schnittstelle oder %s Drucker an den Lieferservice. 100%% Übermittlung garantiert.', $config->domain->base)} 
                <a class="howto-more">{__('Mehr Infos')}</a>
                <span class="howto-more-text">
                    {__('Unsere Übermittlung funktioniert fehlerfrei und ist einfacher als das Telefon. Keine Missverständnisse, weil unsere Bestellungen schwarz auf weiß gedruckt sind.')} 
                </span>
                <a class="howto-less">{__('Weniger Infos')}</a>
            </span>
        </div>

        <span class="arrow-gray"></span>

        <div class="howto-step4">
            <b></b>
            <span class="howto-heading">{__('4. Dein Essen wird geliefert')}</span>
            <span class="howto-text">
                {__('Der Lieferservice bereitet dein Essen zu und liefert es direkt zu dir. Bezahlen kannst du in bar oder vorher online bei uns.')}
                <a class="howto-more">{__('Mehr Infos')}</a>
                <span class="howto-more-text">
                    {__('Wir bieten bei einer Vielzahl von Lieferservices die bargeldlose Zahlung an. Du kannst hier mit Sofortüberweisung, PayPal und Kreditkarte bezahlen.')}
                </span>
                <a class="howto-less">{__('Weniger Infos')}</a>
            </span>
        </div>

    </div>

</div>

<div class="ui-widget-overlay howto-lightbox-overlay"></div>

