{if $customer->isEmployee()}
    <!--
    <div class="yd-box">
            <div class="yd-box-title">
            {__('Bestellung ändern')}
        </div>
        <div class="yd-box-body">
            <select name="switch" id="yd-kind-switch">
                <option {if $order->getKind() == 'priv'}selected="selected"{/if} value="priv">Private Bestellung</option>
                <option {if $order->getKind() == 'comp'}selected="selected"{/if} value="comp">Firmenbestellung</option>
            </select>
        </div>
    </div>
    -->
{/if}